<div class="cancelar-clase">
  <h2>Cancelación de la clase</h2>  
  {% if valores.permitido == TRUE %}
      <div class="informacion">
        <p>Estimado profesor {{ valores.nombre_profesor }},</p>
        <p>Te informamos que la clase con ID: <strong>{{ valores.id_clase }}</strong> ha sido cancelada con éxito</p>
      </div>
      {% if valores.eliminado == TRUE %}
        <div class="informacion-horas">          
          <div class="acciones d-flex">
            <a href="/profesor/calendario" class="btn-volver">Volver</a>
          </div>   
        </div>
      {% else %}
        <div class="informacion-horas">
          <p>No se puede procesar la cancelación de la clase</p>
          <a href="/profesor/calendario" class="btn-volver">Volver</a>
        </div>
      {% endif %}
  {% else %}
    <div class="informacion-sin-premisos">
      <p>No tiene permisos para cancelar la clase.</p>
      <a href="/" class="btn-volver">Volver</a>
    </div>
  {% endif %}
</div>