<div class="iframe-clase">
  <div class="cuadro-superpuesto"><div class="texto">Clase Hola Koala</div></div>
  <div class="cuadro-logo"><img src="/themes/custom/koala/images/LogoKoala.png" alt="Hola Koala" title="Hola Koala"></div>
  {% if url %}
    <iframe src="{{ url }}" width="100%" height="600" frameborder="0" allow="camera;microphone"></iframe>
  {% else %}
    <p>Por favor especifique la URL de la clase.</p>
  {% endif %}
</div>