<div class="iframe-clase">
  <div class="cuadro-superpuesto"><div class="texto">Clase Hola Koala</div></div>
  <div class="cuadro-logo"><img src="/themes/custom/koala/images/LogoKoala.png" alt="Hola Koala" title="Hola Koala"></div>
  <div class="cuadro-menor-1280 d-flex justify-content-center align-items-center d-none d-lg-block d-md-block d-sm-block d-xl-none text-center p-5">
    <strong>La resolución de tu pantalla es menor a 1280px, 
    por favor ingresa a la clase desde un dispositivo con mayor resolución.</strong>
  </div>
  {% if url %}
    <iframe src="{{ url }}" width="100%" height="600" frameborder="0" allow="camera;microphone"></iframe>
  {% else %}
    <p>Por favor especifique la URL de la clase.</p>
  {% endif %}
</div>