<article>
  <header>
    <h1>Cuentas de Usuarios Eliminadas</h1>
  </header>
  <p>Tu cuenta y las cuentas relacionadas han sido eliminadas.</p>

  <p>Usuarios Hijos:</p>
  {{ dump(usuarios_hijos) }}
  <p>Suscripciones:</p>
  {{ dump(suscripciones)}}
</article>