body.node--type-agendar-clase {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  #block-koala-content {
    .node--type-agendar-clase {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;

      .node__content {
        .superior {
          h2 {
            font-weight: 700;
            margin-top: 0.7rem;
          }
        }

        .cuadro {
          width: 50%;
          margin: 0 auto;
          border-radius: 15px;
          position: relative;
          padding: 1.5rem 1rem 1rem 1rem;
          box-shadow: 0px 2px 10px rgba(67, 67, 67, 0.15),
            0px 5px 20px rgba(74, 74, 74, 0.08),
            0px 10px 80px rgba(74, 74, 74, 0.02);
          margin-top: 1rem;
          background-color: white;

          .col-12 {
            text-align: center;

            h3 {
              font-weight: 700;
              font-size: 1.3rem;
            }
          }
          .col-lg-6 {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .col-md-12 {
            h4 {
              font-size: 1rem;
              margin-top: 0.5rem;
            }

            p {
              font-size: 1.6rem;
              font-weight: 700;
              display: flex;
              float: left;
              margin-right: 0.5rem;
            }

            .field--name- {
              .field__label {
                display: none;
              }

              .field--type- {
                font-size: 1.6rem;
                font-weight: 700;
              }
            }

            a {
              background: #ffe8e8;
              border-radius: 28px;
              color: black;
              padding: 0.3rem 1rem 0.3rem 1rem;
              text-decoration: none;
              font-weight: 700;
              display: flex;
              justify-content: center;
            }
          }
          .col-md-12:nth-child(4) {
            position: absolute;
            top: 71%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 96%;
          }
        }
      }

      .ir-a-cuenta:nth-child(2) {
        order: 2;
        .boton-ir-a-cuenta{
          background: #ffffff;
          color: #297e88 !important;
        }
      }
      .ir-a-cuenta:nth-child(3) {
        order: 1;
        .boton-ir-a-cuenta{
          color: black !important;
          background: #2FF7EE;
        }
      }

      .ir-a-cuenta {
        padding-top: 2rem;
        display: inline-block;
        width: 100%;
        text-align: center;

        .boton-ir-a-cuenta {
          border: 2px solid #297e88;
          border-radius: 28px;
          padding: 0.3rem 1rem 0.5rem 1rem;
          text-decoration: none;
          font-weight: 700;

          &:hover {
            background-color: #297e88;
            color: white !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) and (min-width: 340px) {
  #block-koala-content .node--type-agendar-clase {
    .node__content {
      .cuadro {
        width: 100% !important;
        padding: 1rem 0rem 1.5rem 0rem;

        .col-md-12 {
          text-align: center;

          a {
            padding: 0.5rem 1rem;
          }
          p {
            float: none !important;
            justify-content: center;
          }
        }
        .col-md-12:nth-child(4) {
          top: 82% !important;
        }
      }
    }
    .ir-a-cuenta:nth-child(2) {
      text-align: center !important;
      width: 100% !important;
    }
    // .ir-a-cuenta:nth-child(3){
    //   text-align: end!important;
    //   width: 44%!important;
    //   padding-left: 0rem!important;
    // }
  }
}
