.view-clases-gratuitas-profesores,.view-proximas-clases-profesores {
  margin-top: 1rem;

  .no-admin {
    .js-drupal-fullcalendar {
      .fc-header-toolbar {
        .fc-left {
          .fc-button-group {
            button {
              background-color: white;
              color: black;
              border: none;
            }
          }

          .fc-today-button {
            background-color: white;
            color: #ff6669;
            border: none;
            font-weight: 700;
          }
        }

        .fc-center {
          width: 63%;

          h2 {
            font-weight: 700;
            font-size: 20px;
            color: #727f7f;
          }
        }

        .fc-right {
          .fc-button-group {
            button {
              background-color: white;
              color: #ff6669;
              border: none;
              font-weight: 700;
            }

            .fc-button-active {
              border-bottom: 2px solid grey;
              border-radius: 0px;
            }
          }
        }
      }

      .fc-view-container {
        .fc-dayGridMonth-view,
        .fc-timeGridWeek-view {
          border: 1px solid #e6f1f1;

          table {
            .fc-head {
              tr {
                .fc-head-container {
                  color: $GreyK500;
                  border: 2px solid #e6f1f1;
                }
              }
            }

            .fc-body {
              tr {
                .fc-widget-content {
                  .fc-day-grid-container {
                    height: 600px !important;

                    .fc-day-grid {
                      .fc-week {
                        height: 100px !important;

                        .fc-bg {
                          table {
                            tbody {
                              tr {
                                td {
                                  border: 2px solid #e6f1f1;
                                }
                              }
                            }
                          }
                        }

                        .fc-content-skeleton {
                          table {
                            thead {
                              .fc-day-top {
                                .fc-day-number {
                                  color: #727f7f;
                                  text-decoration: none;
                                  float: left !important;
                                  margin-left: 0.5rem;
                                  font-weight: 600;
                                  font-size: 14px;
                                }
                              }
                            }

                            tbody {
                              tr {
                                .fc-event-container {
                                  .fc-day-grid-event {
                                    background-color: transparent !important;
                                    border: none;

                                    .fc-content {
                                      margin-left: 0.5rem;

                                      .fc-time {
                                        font-weight: 500 !important;
                                        background-color: white;
                                        color: #727f7f;
                                        border: none;
                                        font-size: 12px;
                                      }

                                      .fc-title {
                                        background-color: #f8e5de;
                                        border-radius: 12px;
                                        color: #af654a;
                                        font-weight: 700;
                                        font-size: 12px;
                                        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                                        margin-top: 0.1rem;
                                        cursor: pointer;
                                      }
                                    }
                                  }
                                }

                                .fc-event-container:nth-child(3n) {
                                  .fc-day-grid-event {
                                    .fc-content {
                                      .fc-title {
                                        background-color: $RedK100;
                                        color: $RedK500;
                                      }
                                    }
                                  }
                                }

                                .fc-event-container:nth-child(2n) {
                                  .fc-day-grid-event {
                                    .fc-content {
                                      .fc-title {
                                        background-color: #f5f8d8;
                                        color: #869021;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .fc-time-grid-container {
                    .fc-time-grid {
                      .fc-slats {
                        table {
                          tbody {
                            tr {
                              border: 2px solid #e6f1f1;

                              .fc-axis {
                                span {
                                  color: #727f7f;
                                  font-size: 14px;
                                }
                              }
                            }
                          }
                        }
                      }

                      .fc-content-skeleton {
                        table {
                          tbody {
                            tr {
                              td {
                                .fc-content-col {
                                  .fc-event-container {
                                    .fc-time-grid-event {
                                      background-color: transparent !important;
                                      border: none;

                                      .fc-content {
                                        .fc-time {
                                          display: none;
                                        }

                                        .fc-title {
                                          background-color: #f8e5de;
                                          border-radius: 12px;
                                          color: #af654a;
                                          font-weight: 700;
                                          font-size: 12px;
                                          padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                                          margin-top: 0.1rem;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .fc-day-grid {
                    .fc-week {
                      .fc-bg {
                        table {
                          tbody {
                            tr {
                              .fc-axis {
                                span {
                                  color: #727f7f;
                                  font-size: 14px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .fc-timeGridDay-view {
          border: 1px solid #e6f1f1;

          table {
            .fc-head {
              tr {
                .fc-head-container {
                  .fc-row {
                    border: 1px solid #e6f1f1;

                    table {
                      thead {
                        tr {
                          .fc-day-header {
                            span {
                              color: #727f7f;
                              font-size: 14px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .fc-body {
              tr {
                .fc-widget-content {
                  .fc-time-grid-container {
                    .fc-time-grid {
                      .fc-slats {
                        table {
                          tbody {
                            tr {
                              border: 2px solid #e6f1f1;

                              .fc-axis {
                                span {
                                  color: #727f7f;
                                  font-size: 14px;
                                }
                              }
                            }
                          }
                        }
                      }

                      .fc-content-skeleton {
                        table {
                          tbody {
                            tr {
                              td {
                                .fc-content-col {
                                  .fc-event-container {
                                    .fc-time-grid-event {
                                      background-color: transparent !important;
                                      border: none;

                                      .fc-content {
                                        margin-left: 0.5rem;
                                        display: flex;
                                        align-items: center;

                                        .fc-time {
                                          font-weight: 500 !important;
                                          background-color: white;
                                          color: #727f7f;
                                          border: none;
                                          font-size: 12px;
                                        }

                                        .fc-title {
                                          background-color: #f8e5de;
                                          border-radius: 12px;
                                          color: #af654a;
                                          font-weight: 700;
                                          font-size: 12px;
                                          padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                                          margin-top: 0.1rem;
                                        }
                                      }
                                    }
                                  }
                                }
                              }

                              td:nth-child(2n) {
                                .fc-content-col {
                                  .fc-event-container {
                                    .fc-time-grid-event {
                                      .fc-content {
                                        .fc-title {
                                          background-color: #f5f8d8;
                                          color: #869021;
                                        }
                                      }
                                    }
                                  }
                                }
                              }

                              td:nth-child(3n) {
                                .fc-content-col {
                                  .fc-event-container {
                                    .fc-time-grid-event {
                                      .fc-content {
                                        .fc-title {
                                          background-color: #ffe8e8;
                                          color: #ff6669;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .fc-day-grid {
                    .fc-week {
                      .fc-bg {
                        table {
                          tbody {
                            tr {
                              .fc-axis {
                                span {
                                  color: #727f7f;
                                  font-size: 14px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .fc-listYear-view {
          border: 2px solid #e6f1f1;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          overflow: hidden;

          .fc-scroller {
            .fc-list-table {
              tbody {
                .fc-list-heading {
                  .fc-widget-header {
                    background: #e6f1f1 !important;
                    a {
                      font-weight: 500;
                      color: #727f7f;
                      padding: 0.3rem;
                      text-decoration: none;
                    }
                  }
                }

                .fc-list-item {
                  .fc-list-item-time {
                    font-weight: 500 !important;
                    background-color: white;
                    color: black;
                    border: none;
                    font-size: 1rem;
                    padding: 1rem;
                  }

                  .fc-list-item-marker {
                    padding: 1rem 0rem !important;
                  }

                  .fc-list-item-title {
                    display: flex;
                    padding: 1rem;

                    a {
                      background-color: $RedK100;
                      border-radius: 12px;
                      color: $RedK500;
                      font-weight: 700;
                      font-size: 12px;
                      padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                      margin-top: 0.1rem;
                    }
                  }
                }

                .fc-list-item:nth-child(4n) {
                  .fc-list-item-title {
                    a {
                      background-color: #f5f8d8;
                      color: #869021;
                    }
                  }
                }

                .fc-list-item:nth-child(6n) {
                  .fc-list-item-title {
                    a {
                      background-color: #f8e5de;
                      color: #af654a;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 801px) {
  div[id^="windowManager_"] {
    > span[id^="htmlElement_"] {
      left: 42% !important;
      top: 18% !important;
    }
  }
}
//POPUP ALUMNOS
div[id^="windowManager_"] {
  > span[id^="htmlElement_"] {
    position: absolute;
    position: fixed !important;
    width: 340px !important;
    height: max-content !important;
    border-color: rgb(1 1 1 / 0%) !important;

    div.jsframe-titlebar-focused {
      background: #e6f1f1 !important;
      color: black !important;
      width: 340px !important;
      height: 50px !important;
      border-top-left-radius: 16px !important;
      border-top-right-radius: 16px !important;
      border-bottom: none !important;
      top: -9px !important;

      > span {
        left: 16px !important;
        top: 16px !important;
        display: block !important;
        max-width: 260px !important;
        word-wrap: break-word !important;
        word-break: break-all !important;
        font-size: 1rem !important;
      }
    }

    div {
      .datos-clase {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 1rem;
        font-size: 1rem;

        .imagen {
          img {
            padding: 1rem;
          }
        }

        .alumno,.profesor {
          font-weight: 500;
          color: black;

          p {
            margin-bottom: 0.5rem !important;
          }

          .datos-alumno, .datos-profesor {
            background-color: white;
            width: 90%;
            border-radius: 32px;
            height: max-content;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 0.5rem;
            margin-bottom: 1rem;

            a {
              color: black;
              text-decoration: none;
              max-width: 79%;
              pointer-events: none;
              font-size: 1rem;

              &:hover {
                text-decoration: underline;
              }
            }

            img {
              width: 45px;
              height: 45px;
              object-fit: cover;
              margin-right: 5px;
              border-radius:50%;
              background: #297e88;
            }

          }
        }

        .fecha.text-center {
          font-weight: 500;
          color: black;

          .fecha {
            font-size: 20px;
            font-weight: 700;
          }
        }

        .boton {
          background-color: #2ff7ee;
          border: 2px solid #297e88;
          border-radius: 32px;
          width: 260px;
          height: 51px;
          display: flex;
          justify-content: center;
          align-items: stretch;
          margin: 0 auto;
          margin-top: 2rem;
          z-index: 100000;

          &:hover {
            background-color: #297e88;

            a {
              color: white;
            }
          }

          a {
            color: black;
            text-decoration: none;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }

        .editar-horario {
          font-weight: 700;
          text-decoration: underline;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }

    div[id^="window_"]:not(.jsframe-titlebar-focused) {
      left: 0px !important;
      top: 30px !important;
      width: 340px !important;
      min-height: 600px !important;
      background-color: #e6f1f1 !important;
      border-radius: 16px !important;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

      > div {
        background-color: #e6f1f1 !important;
        border-bottom-right-radius: 16px !important;
        border-bottom-left-radius: 16px !important;
        height: auto !important;
      }

      > div:nth-of-type(1) {
        left: 310px !important;
        background-color: transparent !important;
        top: -22px !important;

        > span {
          font-size: 19px !important;
          color: black !important;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  //POPUP ALUMNOS
  div[id^="windowManager_"] {
    > span[id^="htmlElement_"] {
      left: 0% !important;
      right: 0%;
      margin: 0 auto;
      top: 12.7% !important;
      div {
        .datos-clase {
          .profesor {
            display: none !important;
          }
        }
      }
    }
  }
  .view-clases-gratuitas-profesores,.view-proximas-clases-profesores {
    .no-admin {
      .js-drupal-fullcalendar {
        .fc-view-container {
          .fc-listYear-view {
            .fc-scroller {
              .fc-list-table {
                tbody {
                  .fc-list-item {
                    background-color: $RedK100;
                    border-radius: 38px;
                    color: $RedK500;
                    display: flex;
                    flex-direction: column;
                    width: 70vw;
                    padding: 0.5rem 1rem;
                    margin-top: 0.5rem !important;
                    margin-bottom: 0.5rem !important;
                    margin: 0 auto;
                    .fc-list-item-time {
                      order: 2;
                      width: 91%;
                      background-color: transparent !important;
                      padding: 0rem !important;
                    }
                    .fc-list-item-marker {
                      display: none;
                    }
                    .fc-list-item-title {
                      border: none;
                      padding: 0rem !important;
                      a {
                        font-size: 16px !important;
                        color: black !important;
                        padding: 0rem !important;
                      }
                    }
                  }
                  .fc-list-item:nth-child(4n) {
                    background-color: #f5f8d8;
                    color: #869021;
                  }
                  .fc-list-item:nth-child(6n) {
                    background-color: #f8e5de;
                    color: #af654a;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
