#block-koala-content .content {
  .view-mis-koalas {
    margin-top: 1rem;

    .no-admin {
      .js-drupal-fullcalendar {
        .fc-header-toolbar {
          .fc-left {
            .fc-button-group {
              button {
                background-color: white;
                color: black;
                border: none;
              }
            }

            .fc-today-button {
              background-color: white;
              color: #ff6669;
              border: none;
              font-weight: 700;
            }
          }

          .fc-center {
            width: 63%;

            h2 {
              font-weight: 700;
              font-size: 20px;
              color: #727f7f;
            }
          }

          .fc-right {
            .fc-button-group {
              button {
                background-color: white;
                color: #ff6669;
                border: none;
                font-weight: 700;
              }

              .fc-button-active {
                border-bottom: 2px solid grey;
                border-radius: 0px;
              }
            }
          }
        }

        .fc-view-container {
          .fc-dayGridMonth-view,
          .fc-timeGridWeek-view {
            border: 1px solid #e6f1f1;

            table {
              .fc-head {
                tr {
                  .fc-head-container {
                    color: $GreyK500;
                    border: 2px solid #e6f1f1;
                  }
                }
              }

              .fc-body {
                tr {
                  .fc-widget-content {
                    .fc-day-grid-container {
                      height: 600px !important;

                      .fc-day-grid {
                        .fc-week {
                          height: 100px !important;

                          .fc-bg {
                            table {
                              tbody {
                                tr {
                                  td {
                                    border: 2px solid #e6f1f1;
                                  }
                                }
                              }
                            }
                          }

                          .fc-content-skeleton {
                            table {
                              thead {
                                .fc-day-top {
                                  .fc-day-number {
                                    color: #727f7f;
                                    text-decoration: none;
                                    float: left !important;
                                    margin-left: 0.5rem;
                                    font-weight: 600;
                                    font-size: 14px;
                                  }
                                }
                              }

                              tbody {
                                tr {
                                  .fc-event-container:nth-child(6) {
                                    .fc-day-grid-event {
                                      .fc-content {
                                        .fc-title {
                                          background-color: #f8e5de;
                                          color: #af654a;
                                        }
                                      }
                                    }
                                  }

                                  .fc-event-container:nth-child(5) {
                                    .fc-day-grid-event {
                                      .fc-content {
                                        .fc-title {
                                          background-color: #f5f8d8;
                                          color: #869021;
                                        }
                                      }
                                    }
                                  }

                                  .fc-event-container:nth-child(3) {
                                    .fc-day-grid-event {
                                      .fc-content {
                                        .fc-title {
                                          background-color: #f8e5de;
                                          color: #af654a;
                                        }
                                      }
                                    }
                                  }

                                  .fc-event-container:nth-child(2) {
                                    .fc-day-grid-event {
                                      .fc-content {
                                        .fc-title {
                                          background-color: #f5f8d8;
                                          color: #869021;
                                        }
                                      }
                                    }
                                  }

                                  .fc-event-container {
                                    .fc-day-grid-event {
                                      background-color: transparent !important;
                                      border: none;

                                      .fc-content {
                                        margin-left: 0.5rem;

                                        .fc-time {
                                          font-weight: 500 !important;
                                          background-color: white;
                                          color: #727f7f;
                                          border: none;
                                          font-size: 12px;
                                        }

                                        .fc-title {
                                          background-color: #ffe8e8;
                                          border-radius: 12px;
                                          color: #ff6669;
                                          font-weight: 700;
                                          font-size: 12px;
                                          padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                                          margin-top: 0.1rem;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    .fc-time-grid-container {
                      .fc-time-grid {
                        .fc-slats {
                          table {
                            tbody {
                              tr {
                                border: 2px solid #e6f1f1;

                                .fc-axis {
                                  span {
                                    color: #727f7f;
                                    font-size: 14px;
                                  }
                                }
                              }
                            }
                          }
                        }

                        .fc-content-skeleton {
                          table {
                            tbody {
                              tr {
                                td {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        background-color: transparent !important;
                                        border: none;

                                        .fc-content {
                                          .fc-time {
                                            display: none;
                                          }

                                          .fc-title {
                                            background-color: #ffe8e8;
                                            color: #ff6669;
                                            border-radius: 12px;
                                            font-weight: 700;
                                            font-size: 12px;
                                            padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                                            margin-top: 0.1rem;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(2) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #f5f8d8;
                                            color: #869021;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(3) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #f8e5de;
                                            color: #af654a;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(5) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #ffe8e8;
                                            color: #ff6669;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(6) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #f5f8d8;
                                            color: #869021;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                                td:nth-child(7) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #f8e5de;
                                            color: #af654a;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    .fc-day-grid {
                      .fc-week {
                        .fc-bg {
                          table {
                            tbody {
                              tr {
                                .fc-axis {
                                  span {
                                    color: #727f7f;
                                    font-size: 14px;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .fc-timeGridDay-view {
            border: 1px solid #e6f1f1;

            table {
              .fc-head {
                tr {
                  .fc-head-container {
                    .fc-row {
                      border: 1px solid #e6f1f1;

                      table {
                        thead {
                          tr {
                            .fc-day-header {
                              span {
                                color: #727f7f;
                                font-size: 14px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .fc-body {
                tr {
                  .fc-widget-content {
                    .fc-time-grid-container {
                      .fc-time-grid {
                        .fc-slats {
                          table {
                            tbody {
                              tr {
                                border: 2px solid #e6f1f1;

                                .fc-axis {
                                  span {
                                    color: #727f7f;
                                    font-size: 14px;
                                  }
                                }
                              }
                            }
                          }
                        }

                        .fc-content-skeleton {
                          table {
                            tbody {
                              tr {
                                td {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        background-color: transparent !important;
                                        border: none;

                                        .fc-content {
                                          margin-left: 0.5rem;
                                          display: flex;
                                          align-items: center;

                                          .fc-time {
                                            font-weight: 500 !important;
                                            background-color: white;
                                            color: #727f7f;
                                            border: none;
                                            font-size: 12px;
                                          }

                                          .fc-title {
                                            background-color: #f8e5de;
                                            border-radius: 12px;
                                            color: #af654a;
                                            font-weight: 700;
                                            font-size: 12px;
                                            padding: 0.2rem 0.2rem 0.2rem 0.4rem;

                                            margin-top: 0.1rem;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(2) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #f5f8d8;
                                            color: #869021;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(3) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #ffe8e8;
                                            color: #ff6669;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(5) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #f5f8d8;
                                            color: #869021;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }

                                td:nth-child(6) {
                                  .fc-content-col {
                                    .fc-event-container {
                                      .fc-time-grid-event {
                                        .fc-content {
                                          .fc-title {
                                            background-color: #ffe8e8;
                                            color: #ff6669;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    .fc-day-grid {
                      .fc-week {
                        .fc-bg {
                          table {
                            tbody {
                              tr {
                                .fc-axis {
                                  span {
                                    color: #727f7f;
                                    font-size: 14px;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .fc-listYear-view {
            border: 2px solid #e6f1f1;

            .fc-scroller {
              .fc-list-table {
                tbody {
                  .fc-list-heading {
                    .fc-widget-header {
                      a {
                        color: #727f7f;
                      }
                    }
                  }

                  tr {
                    .fc-list-item-time {
                      font-weight: 500 !important;
                      background-color: white;
                      color: #727f7f;
                      border: none;
                      font-size: 14px;
                    }

                    .fc-list-item-marker {
                      padding: 8px 0px !important;
                    }

                    .fc-list-item-title {
                      display: flex;

                      a {
                        background-color: #ffe8e8;
                        border-radius: 12px;
                        color: #ff6669;
                        font-weight: 700;
                        font-size: 12px;
                        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                        margin-top: 0.1rem;
                      }
                    }
                  }

                  tr:nth-child(4) {
                    .fc-list-item-title {
                      a {
                        background-color: #f5f8d8;
                        color: #869021;
                      }
                    }
                  }

                  tr:nth-child(6) {
                    .fc-list-item-title {
                      a {
                        background-color: #f8e5de;
                        color: #af654a;
                      }
                    }
                  }

                  tr:nth-child(10) {
                    .fc-list-item-title {
                      a {
                        background-color: #f5f8d8;
                        color: #869021;
                      }
                    }
                  }

                  tr:nth-child(12) {
                    .fc-list-item-title {
                      a {
                        background-color: #ffe8e8;
                        color: #ff6669;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) and (min-width: 192px) {
  #block-koala-content .content {
    .view-mis-koalas {
      .no-admin {
        .js-drupal-fullcalendar {
          .fc-header-toolbar {
            .fc-center {
              h2{
                font-size: 1rem!important;
              }
            }
            .fc-left {
              .fc-today-button{
                display: none;
              }
            }
            .fc-right {
              .fc-button-group {
                .fc-timeGridWeek-button {
                  display: none;
                }
                .fc-timeGridDay-button{
                  display: none;
                }
              }
            }
          }
          .fc-view-container {
            .fc-dayGridMonth-view,
            .fc-timeGridWeek-view {
              table {
                .fc-body {
                  tr {
                    .fc-widget-content {
                      .fc-day-grid-container {
                        height: 300px !important;

                        .fc-day-grid {
                          .fc-week {
                            height: 50px !important;
                            min-height: 3em!important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
