.path-cancelar-clase-profe,.path-confirmar-cancelacion,.path-cancelar-clase-gratis,.path-cancelar-clase {
  .cancelar-clase {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 2rem;
    background: #ff66693b;
    padding: 2rem 1rem;
    border-radius: 25px;

    > h2 {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .informacion {
      font-weight: 500;
    }

    form {
      textarea {
        width: 100%;
        border-radius: 15px;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }
    }

    .acciones {
      gap: 2rem;
      align-items: center;
      justify-content: center;

      > a, input[type="submit"] {
        align-items: center;
        gap: 12px;
        border-radius: 40px;        
        font-family: Nunito;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        width: 225px;
        padding: 0.75rem 1.25rem;
        justify-content: center;
        border: 2px solid var(--Turq-K500, #297E88);
        background: var(--White, #FFF);
        color: var(--Turq-K500, #297E88);
        
        &.btn-cancelar {
          border: 2px solid var(--Red-K500, #FF6669);
          background: var(--Red-K300, #FF9294);
          color: var(--Black, #000);
          text-decoration: none;
        }
      }
    }
  }
}