body.path-clases {
  #header {
    #navbar-main {
      height: 3.2rem;
    }
  }
  #main-wrapper  {
    margin-top: 3.25rem !important;
    background: #2a7e88;

    > #main {
      max-width: 90% !important;
      width: 90% !important;
      .iframe-clase {
        margin-top: 2rem;
        position: relative;
        max-width: 1440px;

        .cuadro-superpuesto {
          position: absolute;
          left: 0px;
          top: 0px;
          border-top-left-radius: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: white;                  
          @media only screen and (min-width: 1280px) and (max-width: 1291px) {
            height: 24%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1292px) and (max-width: 1313px) {
            height: 23%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1314px) and (max-width: 1335px) {
            height: 22%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1336px) and (max-width: 1357px) {
            height: 21%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1358px) and (max-width: 1379px) {
            height: 20%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1380px) and (max-width: 1401px) {
            height: 19%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1402px) and (max-width: 1423px) {
            height: 18%;
            width: calc(100% - 195px);
          }
          @media only screen and (min-width: 1424px){
            height: 17%;
            width: calc(100% - 195px);
          }
        }

        .cuadro-logo {
          position: absolute;
          bottom: 0;
          right: 0;
          max-width: 195px;
          height: 190px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: transparent;

          img {
            max-width: 80%;
            height: auto;
            margin: 0 auto;
          }
        }

        iframe {                    
          height: 80vh;
          border-radius: 15px;
          max-width: 1440px;
        }
      }
    }
  }

  footer.site-footer {
    display: none;
  }
}