body.path-clases {
  #main-wrapper  {
    > #main {
      max-width: 90% !important;
      width: 90%;
      .iframe-clase {
        margin-top: 2rem;
        position: relative;

        .cuadro-superpuesto {
          position: absolute;
          left: 10px;
          top: 2px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: red;
          width: 80%;
          height: 16%;
        }

        iframe {          
          border: 3px solid #297e88;
          height: 80vh;
          border-radius: 15px;
        }
      }
    }
  }
}