body.path-clases {
  #header {
    display: none;
  }
  /* Estilo base de la estrella */
  .estrella-contenedor {
    position: absolute;
    top: 2%;
    left: 30%;
    //animacion al display none y flex
    transition: all 1s ease-in-out;

    &.nomostrar {
      display: none;
      transition: all 1s ease-in-out;
    }

    &.mostrar {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s ease-in-out;
    }

    .estrella {
      margin: 50px 0;
      position: relative;
      display: block;
      color: red;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid yellow;
      border-left: 100px solid transparent;
      transform: rotate(35deg);
      animation: agrandarYReducir 4s infinite;
      &.estrella-animada {
        //animation: aparecerestrella 4s forwards;
        animation: agrandarYReducir 4s infinite;
      }
    }

    /* Pseudoelemento ::before para la estrella */
    .estrella::before {
      border-bottom: 80px solid yellow;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: "";
      transform: rotate(-35deg);
    }

    /* Pseudoelemento ::after para la estrella */
    .estrella::after {
      position: absolute;
      display: block;
      color: yellow;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid yellow;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: "";
    }

    .estrella-animada {
      animation: aparecerestrella 1s forwards;
    }
  }

  /* Definición de la animación para agrandar y reducir */
  @keyframes aparecerestrella {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  #header {
    display: none;
    #navbar-main {
      height: 3.2rem;
    }
  }
  #main-wrapper {
    margin-top: 0 !important;
    background: #2a7e88;
    min-height: 100vh !important;
    display: flex;
    align-items: center;

    > #main {
      max-width: 1824px !important;
      width: 100% !important;
      max-height: 970px !important;
      .iframe-clase {
        margin: 0 auto;
        margin-top: 0rem;
        position: relative;
        max-width: 100%;

        .cuadro-superpuesto {
          background-color: #ecf9fb;
          position: absolute;
          left: 0px;
          top: 0px;
          border-top-left-radius: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: calc(100% - 195px);
          max-width: calc(100% - 120px);
          max-height: 195px;

          @media only screen and (max-height: 604px) {
            width: calc(100% - (100vh - 450px));
            min-height: 25vh;
            max-width: calc(100% - 151px);
          }
          @media only screen and (max-height: 630px) and (min-width: 1180px) {
            height: calc(100% - (100vh - 107px));
          }

          @media only screen and (min-width: 1280px) and (max-width: 1340px) and (min-height: 690px) {
            width: calc(100% - 195px);
            //height: calc(100% - (100vh - 21vh));
            height: calc(100% - 80vh);
          }
          @media only screen and (min-width: 1340px) and (min-height: 690px) {
            width: calc(100% - 195px);
            height: calc(100% - 82vh);
          }

          @media only screen and (min-width: 1280px) and (min-height: 720px) {
            width: calc(100% - 195px);
            height: calc(100% - 82vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 750px) {
            width: calc(100% - 195px);
            height: calc(100% - 80vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 760px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 770px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 780px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 790px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 800px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 810px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 820px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 830px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 840px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 850px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 860px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 870px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 880px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 890px) {
            width: calc(100% - 195px);
            height: calc(100% - 83vh);
          }
          @media only screen and (min-width: 1280px) and (min-height: 900px) {
            width: calc(100% - 195px);
            height: calc(100% - 80vh);
          }

          @media only screen and (min-width: 1500px) and (min-height: 910px) {
            width: calc(100% - 195px);
            height: 137px;
          }
          @media only screen and (min-width: 1400px) and (max-width: 1450px) and (min-height: 910px) {
            width: calc(100% - 195px);
            height: 164px;
          }
          @media only screen and (min-width: 1350px) and (max-width: 1400px) and (min-height: 910px) {
            width: calc(100% - 195px);
            height: 172px;
          }
          @media only screen and (min-width: 1300px) and (max-width: 1350px) and (min-height: 910px) {
            width: calc(100% - 195px);
            height: 187px;
          }
          @media only screen and (min-width: 1280px) and (max-width: 1300px) and (min-height: 910px) {
            width: calc(100% - 195px);
            height: 195px;
          }

          // Pantallas a 1280px a 1300px de ancho. Con un alto

          .views-element-container {
            width: 100%;

            .views-row {
              .views-field-nothing {
                .field-content {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;
                  gap: 1rem;
                  justify-content: space-between;

                  .my_teacher {
                    max-width: 35%;
                    flex: 0 35%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    padding-left: 1rem;

                    .mi-profe {
                      width: 100%;
                      flex: 0 100%;
                      margin-bottom: 8px;
                    }
                    .imagen {
                      max-width: 60px;
                      flex: 0 25%;
                      text-align: left;
                      background-color: white;
                      border-top-left-radius: 64px;
                      border-bottom-left-radius: 64px;
                      padding: 3.5px 0px;

                      img {
                        width: 45px;
                        height: 45px;
                        border-radius: 200px;
                      }
                    }

                    .nombres {
                      max-width: 74%;
                      flex: 0 74%;
                      background-color: white;
                      border-top-right-radius: 64px;
                      border-bottom-right-radius: 64px;
                      padding: 13px 0px;
                      font-size: 18px;
                      font-weight: 700;
                    }
                  }

                  .estrellas-recibidas {
                    max-width: 37%;
                    flex: 0 37%;

                    .titulo-est {
                      font-weight: bold;
                    }

                    .imgs-estrellas {
                      flex-direction: row;
                      flex-wrap: wrap;
                      gap: 8px;
                      background-color: #2ff7ee;
                      border-radius: 40px;
                      padding: 8px 16px 8px 24px;

                      img {
                        max-width: 30px;
                        height: 30px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cuadro-logo {
          position: absolute;
          bottom: 0;
          right: 0;
          max-width: 195px;
          height: 190px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: transparent;
          width: 21vh;

          img {
            max-width: 60%;
            height: auto;
            margin: 0 auto;
          }
        }

        .cuadro-menor-1280 {
          position: absolute;
          z-index: 1;
          background: white;
          width: 100%;
          height: 100%;
        }

        iframe {
          height: 100vh;
          border-radius: 15px;
          max-width: 100%;
          min-height: 600px;
          max-height: 900px;
        }

        .estrella-saliente {
          position: absolute;
          top: 2%;
          left: 30%;
          width: auto;
          height: auto;
          display: none;
          justify-content: center;
          align-items: center;
        }

        .cuadro-clases-noiniciada-finalizada {
          position: absolute;
          top: 0;
          left: 0;
          background: white;
          width: 100%;
          height: 100%;
          display: flex;
        }
      }
    }
  }

  footer.site-footer {
    display: none;
  }

  /* ======================== */
  .container-cargando {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    &.mostrar {
      display: grid; /* Muestra el div */
      opacity: 1; /* Hace que el div sea completamente visible */
    }

    &.ocultar {
      opacity: 0; /* Hace que el div sea completamente transparente */
      display: none; /* Oculta el div */
    }
  }
  .cargando {
    width: 150px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
  }
  .texto-cargando {
    padding-top: 20px;
  }
  .cargando span {
    font-size: 20px;
    color: #488d96;
    font-weight: bold;
  }
  .pelotas {
    width: 30px;
    height: 30px;
    background-color: #ff6669;
    animation: salto 0.5s alternate infinite;
    border-radius: 50%;
  }
  .pelotas:nth-child(2) {
    animation-delay: 0.18s;
    background-color: #00d2c2;
  }
  .pelotas:nth-child(3) {
    animation-delay: 0.37s;
    background-color: #2b7e88;
  }
  @keyframes salto {
    from {
      transform: scaleX(1.25);
    }
    to {
      transform: translateY(-50px) scaleX(1);
    }
  }
}

body.path-clasesprofesor {
  #header {
    display: none;
    #navbar-main {
      height: 0;
    }
  }

  #main-wrapper {
    margin-top: 0rem !important;
    background: #2a7e88;
    min-height: 100vh !important;
    display: flex;
    align-items: center;

    > #main {
      max-width: 1824px !important;
      width: 95% !important;
      max-height: 970px !important;

      .clases-del-profesor {
        margin: 0 auto;
        position: relative;
        max-width: 100%;

        iframe {
          height: 90vh;
          border-radius: 15px;
          max-width: 100%;
          min-height: 600px;
        }
      }
    }
  }
  .site-footer {
    display: none;
  }
}
