.path-editar-padre {
  .view-id-editar_padre.view-display-id-page_1 {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;

    .view-header {
      .title-page {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    .row.datos-padre {
      gap: 2rem;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2rem;
    }

    .nombres-apellidos-avatar {
      display: flex;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border-radius: 16px;
      background: $TurqK100;



      > .label {
        flex-direction: row;
        justify-content: flex-start;
        display: flex;
        padding: 8px 16px 8px 8px;
        align-items: center;
        align-self: stretch;
        border-radius: 56px;
        margin-bottom: -1rem;
      }

      .nombre {
        display: flex;
        padding: 8px 16px 8px 8px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 56px;
        background: var(--White, #FFF);

        .imagen {
          img {
            object-fit: cover;
            max-width: 60px;
            max-height: 60px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background: #d8eff236;  
          }
        }
      }

      .botones {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;

        a.edit-user {
          display: flex;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 16px;
          align-self: stretch;
          border-radius: 32px;
          border: 2px solid $TurqK500;
          background: var(--White, #FFF);
          width: 100%;
          text-decoration: none;
          color: $TurqK500;

          &:hover {
            background: $TurqK500;
            color: var(--White, #FFF);
          }
        }

        a.eliminar-user {
          color: $TurqK500;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-decoration-line: underline;
        }
      }
    }

    .datos-contacto {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 1rem;

      .fondo {
        padding: 8px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        border-radius: 16px;
        background: var(--Grey-K100, #E6F1F1);
        display: flex;
      }
    }
  }
}

.mis-koalas-padres {
  opacity: 0;
  transition: opacity 0.5s;
  margin-top: 1rem;
  h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .view-id-mis_koalas.view-display-id-block_7 {
    .view-content.row {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .views-row {
        max-width: 22%;

        .imagen-hijo {
          a.editat {
            position: relative;
            display: flex;
            width: fit-content;
            width: -moz-fit-content;
            margin: 0 auto;

            img {
              max-width: 100%;
              height: auto;
              height: auto;
              border-radius: 50%;
              object-fit: cover;
              max-width: 65px;
              max-height: 65px;
            }
            img.editarhijo {
              position: absolute;
              right: 3px;
              max-width: 15px;
              top: 4px;
            }
          }
        }
        .nombre-hijo {
          text-align: center;
          line-height: 1.1;
          font-size: 0.9rem;

          span {
            display: block;
            word-wrap: break-word;
          }
        }

      }
    }
  }
}


.page-view-editar-padre {
  #page-wrapper {
    #main-wrapper {
      min-height: 70vh;
    }
  }
}