.path-user.rol-authenticated.rol-padre {
  background-image: url("/themes/custom/koala/images/Group463.png");
  a {
    text-decoration: unset !important;
  }
}

#block-koala-content {
  .content {
    .user-editar-perfil-padre-form {
      .layout--twocol-section {
        width : 90%;
        margin: 0 auto;

        .layout__region--first {
          display       : flex;
          flex-direction: column;
          flex          : 0 1 40% !important;
          padding       : 0rem 1rem 1rem 1rem;

          .field--type-string {
            .js-form-item {
              input {
                color        : black;
                border       : 2px solid #becaca;
                border-radius: 32px;
                height       : 3rem;
                font-weight  : 700;
              }

              label {
                font-weight  : 600;
                margin-bottom: 0.5rem;
              }
            }
          }

          .field--name-user-picture {
            order                     : 2;
            background-color          : $GreyK100;
            border-bottom-left-radius : 20px;
            border-bottom-right-radius: 20px;
            padding                   : 0rem 1rem 1rem 1rem;
            margin-left: 0;
            margin-right: 0;

            .js-form-item {
              label {
                font-weight  : 600;
                margin-bottom: 0.5rem;

                &:before {
                  content: "Subir ";
                }
              }

              .image-widget {
                .image-preview {
                  img {
                    width : 3rem;
                    height: 3rem;
                  }
                }

                .image-widget-data {
                  display: flex;
                  float  : initial;

                  input {
                    background   : #d8fffd;
                    border       : 2px dashed #297e88;
                    border-radius: 32px;
                    margin-top   : 0.3rem;
                    font-size    : 0.9rem;
                    font-weight  : 600;
                    margin-top   : 1rem;
                  }
                }
              }

              .description {
                display    : flex;
                margin-top : 1rem;
                font-weight: 600;
                color      : black !important;
                font-size  : 16px;
              }
            }

            .js-form-item {
              label {
                font-weight  : 600;
                margin-bottom: 0.5rem;

                &:before {
                  content: "Subir ";
                }
              }

              .image-widget {
                flex-direction: column;
                display       : flex;

                .image-preview {
                  background-color: #becaca;
                  border-radius   : 16px;
                  height          : 112px;
                  display         : flex;
                  align-items     : center;
                  justify-content : center;
                  padding         : 0px;

                  img {
                    height       : 80px;
                    width        : 80px;
                    border-radius: 40px;
                    border       : 1px solid white;
                    margin       : 0px;
                    object-fit: cover;
                  }
                }

                .image-widget-data {
                  display       : flex;
                  flex-direction: column;
                  align-items   : center;

                  .file {
                    margin-bottom: 0.5rem;
                    margin-top   : 0.2rem;

                    a {
                      display: none;
                    }
                  }

                  .button {
                    background     : #ffffff;
                    border         : 2px solid #297e88;
                    border-radius  : 28px;
                    color          : black !important;
                    padding        : 0.3rem 1.5rem 0.3rem 1.5rem;
                    text-decoration: none;
                    font-weight    : 700;
                    font-size      : 1.2rem;
                    width          : 40%;

                    &:before {
                      display: none;
                    }

                    &:hover {
                      background-color: #297e88;
                      color           : white !important;
                    }
                  }
                }
              }
            }
          }

          .field--name-field-nombre-del-acudiente {
            order                  : 1;
            background-color       : $GreyK100;
            border-top-left-radius : 20px;
            border-top-right-radius: 20px;
            margin-bottom          : 0rem !important;
            padding                : 1rem 1rem 0rem 1rem;
          }
        }

        .field--name-field-celular {
          order: 3;

          .js-form-item {
            margin-bottom: 0rem !important;
          }
        }

        .field--name-field-direccion {
          margin-bottom: 0rem !important;
        }
      }

      .layout__region--second {
        flex   : 0 1 60% !important;
        padding: 0rem 1rem 1rem 1rem;

        div:nth-child(5) {
          border: 2px solid #ff9294;
          border-radius: 16px;
          color: black;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 52px;
          position: absolute;
          left: 22%;
          margin-top: 1rem;
          line-height: 1rem;
          width: 32%;
          text-align: center;
          padding: 0rem 1rem;
          &:before {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #ff9294;
            border: 1px solid #ff6669;
            background-color: #ffe8e8;
            border-radius: 6px;
            font-size: 10px;
            margin-right: 0.5rem;
            width: 20px;
            padding: 0.1rem 0.3rem;
          }
          p {
            margin-bottom: 0rem !important;
            a {
              color: black;
              font-weight: 700;
            }
          }
        }
        .field--name-field-pais {
          .js-form-item {
            margin-bottom: 0rem !important;

            .chosen-container {
              background-image: none;
              border          : none;
              padding         : 0;
              width           : 100% !important;

              .chosen-single {
                height        : 48px;
                background    : #ffffff;
                border        : 2px solid #becaca;
                border-radius : 32px;
                display       : flex;
                flex-direction: row;
                align-items: center;
                font-weight: 500;
                color: black;
                padding-left: 0.7rem;
                font-size: 16px;
                padding-right: 1rem;
                span {
                  width: 92%;
                }

                div {
                  b {
                    background-image: none!important;
                  }
                }

                &:after {
                  content    : "\f078";
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  float      : right;
                }
              }
            }

            .chosen-container-active {
              .chosen-drop {
                border-radius: 15px;

                .chosen-search {
                  .chosen-search-input {
                    background-image: none !important;
                  }

                  &:after {
                    content    : "\f002";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    position   : relative;
                    left       : -33px;
                  }
                }

                .chosen-results {
                  font-weight: 600;
                  color: black;
                  font-size: 16px;
                }
              }
            }
          }
        }

        .field--name-field-direccion {
          .js-form-item {
            .form-textarea-wrapper {
              textarea {
                color        : black;
                border       : 2px solid #becaca;
                border-radius: 32px;
                height       : 3rem;
              }
            }
          }
        }

        .js-form-wrapper {
          display       : flex;
          flex-direction: column;

          .js-form-type-password-confirm {
            font-weight  : 500;
            font-size    : 14px;
            margin-bottom: 0rem !important;
            order: 3;
            margin-top: 1rem;
            .js-form-item-pass-pass1{
              margin-bottom: 1rem!important;
            }
          }

          .js-form-item {
            input {
              color        : black;
              border       : 2px solid $GreyK200;
              border-radius: 32px;
              height       : 3rem;
              font-weight  : 600;
            }

            label {
              font-weight  : 600;
              margin-bottom: 0.5rem;
            }
          }

          .js-form-type-password {
            margin-bottom: 0rem !important;
            order        : 2;
            max-width    : 100% !important;

            .password-strength {
              font-weight   : 500;
              font-size     : 14px;
              color         : grey;
              padding-bottom: 1rem;
              width         : 100%;
            }

            .password-confirm-message {
              font-weight: 500;
              font-size  : 14px;
              color      : grey;
            }

            .description {
              a {
                color      : $TurqK600;
                font-weight: 700;
                font-size  : 16px;
              }
            }
          }

          .password-suggestions {
            border-radius   : 15px;
            background-color: grey;
            color           : white;
            padding         : 0.5rem 1rem;
            font-size       : 0.9rem;
          }
        }
      }

      .form-actions {
        width : 21%;
        margin: 0px 56%;

        .button {
          padding        : 12px 16px;
          gap            : 16px;
          width          : 311px;
          height         : 51px;
          background     : #ffffff;
          border         : 2px solid #297e88;
          border-radius  : 32px;
          color          : black;
          font-weight    : 700;
          font-size      : 20px;
          display        : flex;
          justify-content: center;
          align-items    : center;

          &:hover {
            background-color: $TurqK500;
            color           : white;
          }

          &:before {
            display: none;
          }
        }
      }

      &:before {
        content        : "Tus datos";
        font-size      : 1.3rem;
        font-weight    : 700;
        display        : flex;
        justify-content: center;
        padding        : 2rem 0rem 1rem 0rem;
      }
    }
  }
}

.current_language-en #block-koala-content .content .user-editar-perfil-padre-form:before {
  content: "Your personal information";
}

@media (max-width: 767px) and (min-width: 300px) {
  #block-koala-content {
    .content {
      .user-editar-perfil-padre-form {
        .layout--twocol-section {
          display: block!important;
          width: 100%!important;
          .layout__region--first{
            padding: 0rem!important;
          }
          .layout__region--second {
            div:nth-child(5) {
              margin-top: 0rem!important;
              width: auto!important;
              position: initial!important;
              height: 92px!important;
              padding: 5px!important;
              p{
                line-height: 1.5rem;
              }
              &:before{
                margin-bottom: 2rem;
              }
            }
          }
        }
        .form-actions{
          width: 100%!important;
          margin: 0!important;
          button{
            width: 100%!important;
          }
        }
      }
    }
  }
}
