.featured-bottom {
  background: $GreyK200;

  .field--name-field-logo-footer {
    margin: 2rem 2rem 1rem 3.3rem;

    img {
      max-width: 100px;
      height   : auto;
    }
  }
}

footer.site-footer {
  background: $GreyK200 !important;
  margin-top: 1rem;

  .container {
    padding: 0;

    .site-footer__top {
      display        : flex;
      flex-direction : row;
      flex-wrap      : wrap;
      justify-content: space-between;
      width          : 90%;
      margin         : 0rem 4rem 0rem 2rem;

      >section.region {
        max-width: 33%;
      }

      a {
        color          : black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .menu {
        list-style : none;
        font-weight: 700;
        font-size  : 1.2rem;

        .menu-item {
          margin-bottom: 1.7rem;
        }
      }

      .block-config-pages {
        .field--name-field-texto-footer-derechos-rese {
          font-weight: 600;
          margin     : 1rem 0rem 1rem 2rem;
        }
      }

      .region-footer-first {
        width: 32%;
      }

      .region-footer-second {
        width : 27%;
        height: 16rem;

        h2 {
          font-size    : 1rem;
          font-weight  : 600;
          margin-bottom: 0.5rem;
        }

        ul {
          padding-left: 1rem;
        }

        .config_pages--view-mode--correo- {
          .field--name-field-correo-electronico-footer {
            font-weight    : 700;
            font-size      : 1.2rem;
            text-decoration: underline;
            padding-left   : 1rem;

            &:before {
              content     : url("EnvelopeOpen.png");
              position    : relative;
              top         : 6px;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .region-footer-third {
        width : 15%;
        height: auto;

        h2 {
          font-size    : 1rem;
          font-weight  : 600;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.rol-padre {
  footer.site-footer {
    .container {
      .site-footer__top {
        .no-admin.nav {
          list-style : none;
          font-weight: 700;
          font-size  : 1.2rem;
          display    : block;

          .nav-item {
            margin-bottom: 0.7rem;
          }
        }

        .region-footer-first {
          #block-logofooterhijos {
            margin-top : 2rem;
            margin-left: 1.1rem;
          }

          #block-padres-2 {
            margin-top: 1.5rem;
          }
        }

        .region-footer-second {
          margin-top: 5.2rem;

          .no-admin {
            .nav-item {
              a {
                padding-left: 0rem;
              }
            }
          }

          #block-correo {
            .field--name-body {
              .field--name-field-correo-electronico-footer {
                margin-left    : 1rem;
                font-weight    : 700;
                font-size      : 1.2rem;
                text-decoration: underline;

                &:before {
                  content     : url("EnvelopeOpen.png");
                  position    : relative;
                  top         : 6px;
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }

        .region-footer-third {
          margin: 5.2rem;

          #block-siguenosen {
            .view-content.row {
              display       : flex;
              flex-direction: row;
              flex-wrap     : nowrap;
              max-width     : 100%;

              .views-row {
                width        : auto;
                padding-right: 0;
              }
            }
          }

          #block-hablemos {
            .content {
              .views-field-field-enlace-live-chat {
                a.boton-chat {
                  display       : flex;
                  flex-direction: row;
                  flex-wrap     : nowrap;
                  align-content : center;
                  align-items   : center;
                  padding       : 0.4rem 1rem 0.4rem 1rem;
                  border        : 2px solid #ff9294;
                  width         : max-content;
                  border-radius : 32px;
                  background    : #ffc2c4;
                  color         : black;
                  font-size     : 1.25rem;
                  font-weight   : 700;
                  margin-bottom : 0.5rem;

                  //Pantallas menores a 1200px
                  @media (max-width: 1200px) {
                    margin       : 0 auto;
                    margin-bottom: 2rem;
                  }

                  >div {
                    padding-left: 1rem;
                  }

                  &:before {
                    content     : "\f4ad";
                    font-family : "Font Awesome 5 Free";
                    font-weight : 900;
                    margin-right: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 192px) {
  .rol-padre {
    footer.site-footer {
      .container {
        .site-footer__top {
          .region-footer-first {
            #block-logofooterhijos {
              margin-left: 0rem;
            }
          }

          .region-footer-second {
            #block-correo {
              .field--name-body {
                .field--name-field-correo-electronico-footer {
                  margin-left: 0rem;
                }
              }
            }

            margin-top: 0rem;

            .no-admin {
              .nav-item {
                a {
                  padding-right: 0rem;
                }
              }
            }
          }

          .region-footer-third {
            margin-top: 0rem;
            margin    : 0rem -1rem;

            .block-dropdown-language {
              .dropbutton-multiple {
                .dropbutton-widget {
                  margin-bottom: 0rem !important;
                }
              }
            }

            #block-siguenosen {
              .view-content.row {
                margin-bottom  : 2rem;
                display        : flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  footer.site-footer {
    text-align: center;

    .container {
      .site-footer__top {
        >section.region {
          max-width: 100%;
        }

        .region-footer-first {
          width: 100%;
        }

        .block-config-pages {
          .field--name-field-texto-footer-derechos-rese {
            margin: 1rem 0rem 1rem 0rem;
          }
        }

        .region-footer-second {
          width: 100%;

          ul {
            padding-left: 0rem;
          }
        }

        .menu {
          padding-left: 0rem;
        }

        .region-footer-third {
          width: 100%;

          .block-dropdown-language {
            margin-top: 1.7rem;
            padding   : 0;

            .dropbutton-multiple {
              .dropbutton-widget {
                margin       : 0 auto;
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
  }

  .featured-bottom {
    .field--name-field-logo-footer {
      text-align : center;
      margin-left: 0rem;
    }
  }
}

//Footer Hijos
.rol-hijo {
  footer.site-footer {
    .container {
      max-width: 1400px !important;

      .site-footer__top {
        padding-top: 1rem;

        section.region {
          max-width: 50%;
          width    : 50%;

          &.region-footer-third {
            text-align: right;
          }
        }
      }
    }
  }
}

.site-footer {
  .container {
    max-width: 1400px !important;
    width    : 90%;
  }
}

#block-footerbanderas {
  .footer-banderas {
    display  : flex;
    flex-wrap: wrap;

    .texto1 {
      margin-right: 1rem;
      padding-top : 3px;
    }

    .texto2 {
      margin-right: 1rem;
    }

    .imagen {
      max-width: 100%;
      height   : auto;
    }
  }
}