a,div,p,span,li,ul,ol,h1,h2,h3,h4,h5,h6 {
  font-family: 'Nunito', 'sans-serif';
}

.featured-bottom {
  background: $GreyK200;

  .field--name-field-logo-footer {
    margin: 2rem 2rem 1rem 3.3rem;

    img {
      max-width: 100px;
      height: auto;
    }
  }
}

footer.site-footer {
  background: $GreyK200 !important;
  margin-top: 0rem;
  min-height: 100px;
  display: flex;
  align-items: center;

  .container {
    padding: 0;

    .site-footer__top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      > section.region {
        max-width: 33%;
      }

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .menu {
        list-style: none;
        font-weight: 700;
        font-size: 1rem;

        .menu-item {
          margin-bottom: 1.7rem;
        }
      }

      .block-config-pages {
        .field--name-field-texto-footer-derechos-rese {
          font-weight: 600;
          margin: 1rem 0rem 1rem 2rem;
        }
      }

      .region-footer-first {
        width: 32%;
      }

      .region-footer-second {
        width: 33%;
        height: 16rem;

        h2 {
          font-size: 0.8rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .config_pages--view-mode--correo- {
          .field--name-field-correo-electronico-footer {
            font-weight: 700;
            font-size: 1rem;
            text-decoration: underline;

            &:before {
              content: url("EnvelopeOpen.png");
              position: relative;
              top: 6px;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .region-footer-third {
        width: 25%;
        height: auto;

        h2 {
          font-size: 0.8rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
      }
    }
    .footer-bottom {
      .region-footer-bottom {
        width: 100%;
        margin: 0 auto;
      }
      #block-footerbanderas {
        .field--name-body {
          .footer-banderas {
            display: flex;
            font-weight: 500;
            margin-bottom: 2rem;
            .texto1 {
              margin-right: 1rem;
            }
            .texto2{
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

.node-agendar-clases,
.rol-profesor,
.rol-padre {
  footer.site-footer {
    .container {
      .site-footer__top {
        .no-admin.nav {
          list-style: none;
          font-weight: 700;
          font-size: 1rem;
          display: block;

          .nav-item {
            margin-bottom: 0.7rem;
          }
        }

        .region-footer-first {
          #block-logofooterhijos {
            margin-top: 2rem;
            margin-left: 1.1rem;
          }

          #block-padres-2 {
            margin-top: -5rem;
          }
          #block-profesor-2 {
            margin-top: -4rem;
          }
        }

        .region-footer-second {
          margin-top: 5.2rem;

          .no-admin {
            .nav-item {
              a {
                padding-left: 0rem;
              }
            }
          }

          #block-correo {
            .field--name-body {
              .field--name-field-correo-electronico-footer {
                font-weight: 700;
                font-size: 1rem;
                text-decoration: underline;

                &:before {
                  content: url("EnvelopeOpen.png");
                  position: relative;
                  top: 6px;
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }

        .region-footer-third {
          margin: 5.2rem 0rem;

          #block-siguenosen {
            .view-content.row {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              max-width: 100%;

              .views-row {
                width: auto;
                padding-right: 0;
              }
            }
          }

          #block-hablemos {
            .content {
              .views-field-field-enlace-live-chat {
                a.boton-chat {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-content: center;
                  align-items: center;
                  padding: 0.4rem 1rem 0.4rem 1rem;
                  border: 2px solid #ff9294;
                  width: max-content;
                  border-radius: 32px;
                  background: #ffc2c4;
                  color: black;
                  font-size: 16px;
                  font-weight: 700;
                  margin-bottom: 1rem;

                  //Pantallas menores a 1200px
                  @media (max-width: 1200px) {
                    margin: 0 auto;
                    margin-bottom: 1rem;
                  }

                  > div {
                    padding-left: 1rem;
                  }

                  &:before {
                    content: "\f4ad";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 100;
                    margin-right: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
      .footer-bottom {
        #block-footerbanderas {
          .field--name-body {
            .footer-banderas {
              margin-top: -2rem;
            }
          }
        }
      }
    }
  }
}
.rol-profesor {
  footer.site-footer {
    .container {
      .site-footer__top {
        .region-footer-first {
          #block-profesor-2 {
            margin-top: 1rem !important;
          }
        }
      }
      .footer-bottom {
        #block-footerbanderas {
          .field--name-body {
            .footer-banderas {
              margin-top: 0rem !important;
            }
          }
        }
      }
    }
  }
}

.rol-hijo {
  footer {
    .footer-banderas {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 800px) and (min-width: 192px) {
  .node-agendar-clases {
    footer.site-footer {
      .container {
        .site-footer__top {
          justify-content: center !important;
          .region-footer-first {
            #block-logofooterhijos {
              margin-left: 0rem !important;
            }
            #block-padres-2 {
              margin-top: 2rem !important;
            }
          }
          .region-footer-second {
            margin-top: 0.5rem !important;
            .no-admin {
              .nav-item {
                a {
                  padding-right: 0rem;
                }
              }
            }
            #block-correo {
              .field--name-body {
                .field--name-field-correo-electronico-footer {
                  margin-left: 0rem !important;
                }
              }
            }
          }
          .region-footer-third {
            margin-top: 0.5rem !important;
            margin: 0rem !important;
            #block-siguenosen {
              .view-content.row {
                justify-content: center;
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
  }

  footer.site-footer {
    .container {
      .site-footer__top {
        .no-admin.nav {
          font-size: 16px !important;
        }
        .region-footer-first {
          #block-logofooterhijos {
            margin-left: 0rem !important;
          }

          #block-padres-2 {
            margin-top: 2rem !important;
          }
        }

        .region-footer-second {
          margin-top: 0.5rem !important;
          #block-correo {
            .field--name-body {
              .field--name-field-correo-electronico-footer {
                margin-left: 0rem;
              }
            }
          }

          margin-top: 0rem;

          .no-admin {
            font-size: 16px !important;
            .nav-item {
              a {
                padding-right: 0rem;
              }
            }
          }
        }

        .region-footer-third {
          margin-top: 0rem;
          margin: 0rem !important;

          .block-dropdown-language {
            .dropbutton-multiple {
              .dropbutton-widget {
                margin-bottom: 0rem !important;
              }
            }
          }

          #block-siguenosen {
            .view-content.row {
              margin-bottom: 2rem;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .rol-hijo {
    footer {
      .site-footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        padding-left: 0px;
        margin-left: 0px;

        .region-footer-first {
          max-width: 100% !important;
          width: 100% !important;
          text-align: center !important;
        }

        .region-footer-third {
          max-width: 100% !important;
          width: 100% !important;
          text-align: center !important;
          margin-top: 1rem;
        }
      }
    }
  }

  footer.site-footer {
    text-align: center;

    .container {
      .site-footer__top {
        > section.region {
          max-width: 100%;
        }

        .region-footer-first {
          width: 100%;
          --bs-gutter-x: 0rem !important;
        }

        .block-config-pages {
          .field--name-field-texto-footer-derechos-rese {
            margin: 1rem 0rem 1rem 0rem;
          }
        }

        .region-footer-second {
          width: 100%;
          --bs-gutter-x: 0rem !important;

          ul {
            padding-left: 0rem;
          }
        }

        .menu {
          padding-left: 0rem;
        }

        .region-footer-third {
          width: 100%;
          --bs-gutter-x: 0rem !important;

          .block-dropdown-language {
            margin-top: 1.7rem;
            padding: 0;
            margin-bottom: 1rem;

            .dropbutton-multiple {
              .dropbutton-widget {
                margin: 0 auto;
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
      .footer-bottom {
        .region-footer-bottom {
          #block-footerbanderas {
            .field--name-body {
              .footer-banderas {
                flex-direction: column;
                margin-top: 0rem !important;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }

  .featured-bottom {
    .field--name-field-logo-footer {
      text-align: center;
      margin-left: 0rem;
    }
  }
}

//Footer Hijos
.rol-hijo {
  footer.site-footer {
    .container {
      max-width: 1400px !important;
      width: 90%;
      margin: 0 auto;

      .site-footer__top {
        padding-top: 1rem;

        section.region {
          max-width: 50%;
          width: 50%;

          &.region-footer-third {
            text-align: right;
            .layout__region {
              .field--name-body {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  footer.site-footer {
    .container {
      .site-footer__top {
        .region-footer-first {
          #block-padres-2 {
            margin-top: -4rem !important;
          }
        }
      }
      .footer-bottom {
        .region-footer-bottom {
          #block-footerbanderas {
            .field--name-body {
              .footer-banderas {
                flex-direction: column;
                line-height: 28px;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

.path-padres {
  .view-id-mis_koalas.view-display-id-block_2 {

    .tab-pane {
      .row {
        .col-md-3, .col-md-9 {
          position: relative;
          z-index: 1;
        }
        .fondo-gris {
          background: #e6f1f1;
          position: absolute;
          left: -30vw;
          width: 200vw;
          height: 106%;
          z-index: -1;
          top: -1rem;
        }
      }
    }

  }
}
.access-acudiente {
  position: relative;
  .enlace-agendar-completo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  a {
    text-decoration: none;
  }
  &:hover {
    opacity: 0.8;
    color: #ff6669;

    a {
      color: #ff6669;
      text-decoration: none;
    }
  }
}
