body #main-wrapper {
  min-height: 95vh;
}

#header {
  #block-dropdownlanguage {
    min-width: 128px;
    max-height: 50px;
    transition: all 1s;
    animation-name: fade;
    animation-duration: 2s;

    .dropbutton-wrapper.dropbutton-multiple {
      background: #d7f0f2;
      border-radius: 16px;
      width: 9.5rem;
    }
  }
}

// header profesor
#header {
  #navbar-main {
    #CollapsingNavbar {
      .offcanvas-body {
        display: flex;
        align-items: center;
        #block-profesor {
          width: 73%;
          .nav {
            gap: 30px;
            margin-left: 2rem;

            .nav-item {
              .nav-link {
                color: black !important;
                font-size: 1rem;
                font-weight: 700;
                padding: 0 0.5rem;
                position: relative;
                transition: all 0.3s ease-in-out;

                &:hover {
                  background-color: #c6f5f2;
                  border-radius: 20px;
                }
              }

              .nav-link.active {
                background-color: #c6f5f2;
                border-radius: 20px;
              }
            }
          }
        }
      }

      #block-koala-account-menu {
        .nav {
          .nav-link {
            color: black !important;
            font-size: 1rem;
            font-weight: 700;
            padding: 0 0.5rem;
            position: relative;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: #c6f5f2;
              border-radius: 20px;
            }
          }

          .nav-link.active {
            background-color: #c6f5f2;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

// header niños

#header {
  #navbar-main {
    #CollapsingNavbar {
      .offcanvas-body {
        #block-hijos {
          display: flex;
          align-items: center;
          width: 73%;

          .nav {
            display: flex;
            align-items: center;

            .nav-item {
              min-width: 95px;
              justify-content: center;

              &:nth-child(1) {
                a {
                  opacity: 0;
                }

                &::before {
                  content: "";
                  display: block;
                  background-image: url("/themes/custom/koala/images/logo-koala.png");
                  height: 30px;
                  width: 97px;
                  background-repeat: no-repeat;
                  position: absolute;
                  background-repeat: no-repeat;
                }
              }

              height: 30px;
              display: flex;
              align-items: center;
              margin-right: 1.5rem;

              .nav-link {
                color: black !important;
                font-size: 1rem;
                font-weight: 700;
                padding: 0 0.5rem;
                position: relative;
                transition: all 0.3s ease-in-out;

                &:hover {
                  background-color: #c6f5f2;
                  border-radius: 20px;
                }
              }

              .nav-link.active {
                background-color: #c6f5f2;
                border-radius: 20px;
                padding: 0rem 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

// header padres

#header {
  #navbar-main {
    padding: 0rem 0rem;

    #CollapsingNavbar {
      align-items: initial;

      .offcanvas-body {
        justify-content: space-between;

        #block-dropdownlanguage {
          .dropbutton-wrapper {
            .dropbutton-widget {
              .dropdown-language-item {
                .dropbutton-action {
                  height: 2.2rem !important;
                }

                .dropbutton-toggle {
                  height: 2.2rem !important;
                }
              }
            }
          }
        }

        #block-padres {
          width: 73%;
          display: flex;
          align-items: center;
          margin-left: 1.5rem;

          .nav {
            .nav-item {
              margin-right: 2.5rem;

              .nav-link {
                color: black !important;
                font-size: 1rem;
                font-weight: 700;
                padding: 0 0.5rem;
                position: relative;
                transition: all 0.3s ease-in-out;

                &:hover {
                  background-color: #c6f5f2;
                  border-radius: 20px;
                }
              }

              .nav-link.active {
                background-color: #c6f5f2;
                border-radius: 20px;
                padding: 0rem 1.5rem;
              }
            }
          }
        }

        #block-koala-account-menu {
          display: flex;
          align-items: center;
          // margin-right      : 3rem;
          // min-width      : 30%;
          justify-content: end;

          .no-admin {
            .nav-link {
              font-size: 1rem;
              font-weight: 700;
              color: $TurqK500 !important;
              text-decoration: underline;

              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 1199px) {
  #header {
    #navbar-main {
      padding: 0rem 1rem!important;

      .navbar-toggler {
        padding-right: 0px;
      }
    }
  }
  body {
    #header {
      #navbar-main {
        div {
          justify-content: space-between;
        }
      }
    }
  }

  #header {
    #navbar-main {
      #CollapsingNavbar {
        #block-koala-account-menu .nav {
          gap: 0px;
        }

        .offcanvas-body {
          .block {
            margin-left: 0rem;

            .nav {
              display: block;
              width: 100%;
              text-align: center;
              margin-top: 1rem;
              margin-left: 0rem!important;

              .nav-item {
                margin-bottom: 2rem;

                .nav-link {
                  font-size: 20px;
                }
              }
            }
          }

          #block-koala-account-menu {
            justify-content: center !important;
            margin-right: 0rem !important;

            .no-admin {
              // gap: 0px;
              .nav-link {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  .rol-hijo {
    #header {
      #navbar-main {
        .navbar-toggler {
          display: flex;
          width: 100%;
          justify-content: end;

          &:before {
            content: "";
            display: block;
            background-image: url("/themes/custom/koala/images/logo-koala.png");
            height: 27px;
            width: 97px;
            background-repeat: no-repeat;
            position: absolute;
            left: 16px;
          }
        }

        #CollapsingNavbar {
          .offcanvas-body {
            #block-koala-account-menu {
              .nav {
                gap: 0px !important;
              }
            }

            #block-hijos {
              margin-left: 0rem;

              .nav {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 1rem;

                .nav-item {
                  &:nth-child(1) {
                    &::before {
                      top: 19px;
                    }
                  }

                  margin-bottom: 2rem;
                  margin-right: 0rem;

                  .nav-link {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #header #navbar-main #CollapsingNavbar .offcanvas-body{
    flex-direction: column;
    justify-content: flex-start!important;
    .block-dropdown-language{
      .dropbutton-widget{
        width: auto!important;
      }
    }
  }
}

// media mayor a 1200px
@media (min-width: 1200px) {
  body {
    #page-wrapper {
      #page {
        header#header {
          position: fixed;
          width: 100vw;
          top: 0;
          z-index: 10000;
          left: 0;
        }

        #main-wrapper {
          margin-top: 84px;
        }
      }
    }
  }
}

//media menor a 1200px
@media (max-width: 1199px) {
  body.scrollup {
    #page-wrapper {
      #page {
        header#header {
          position: fixed;
          width: 100vw;
          top: 0;
          z-index: 10000;
          left: 0;
        }

        #main-wrapper {
          margin-top: 84px;
        }
      }
    }
  }

  header#header {
    .probar-ahora.nav-link {
      background: #ffffff;
      border: 2px solid #297e88;
      border-radius: 28px;
      color: #297e88 !important;
      padding: 0.2rem 1rem 0.2rem 1rem;
      margin-left: 2rem;

      &:hover {
        background-color: #297e88;
        color: white !important;
      }
    }

    #block-views-block-redes-sociales-p-responsive {
      margin-left: 1.6rem;

      h2 {
        font-size: 1rem;
      }

      .content {
        .view-redes-sociales-p {
          .view-content {
            display: flex;
            flex-wrap: nowrap;
            margin-left: 0.1rem;

            .views-row {
              width: 15%;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }

    #block-legal-2 {
      margin-left: 1.6rem;

      h2 {
        font-size: 1rem;
      }

      ul {
        list-style: none;
        padding-left: 0rem;

        li {
          margin-bottom: 2rem;

          a {
            color: black;
            text-decoration: none;
            font-size: 1.1rem;
            letter-spacing: 0.0625rem;
            font-weight: 800;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  header#header {
    #block-legal-2 {
      display: none;
    }

    #block-views-block-live-chat-responsive {
      display: none;
    }

    #block-views-block-redes-sociales-p-responsive {
      display: none;
    }
  }
}