body #main-wrapper{
  min-height: 95vh;
}
// header profesor
#header {
  #navbar-main {
    #CollapsingNavbar {
      #block-profesor {
        .nav {
          gap: 30px;
          margin-left: 2rem;

          .nav-item {
            .nav-link {
              color      : black !important;
              font-size  : 1rem;
              font-weight: 700;
              padding    : 0 0.5rem;
              position   : relative;
              transition : all 0.3s ease-in-out;

              &:hover {
                background-color: #C6F5F2;
                border-radius   : 20px;
              }
            }

            .nav-link.active {
              background-color: #C6F5F2;
              border-radius   : 20px;
            }
          }
        }
      }

      #block-koala-account-menu {
        .nav {
          gap: 30px;

          .nav-link {
            color      : black !important;
            font-size  : 1rem;
            font-weight: 700;
            padding    : 0 0.5rem;
            position   : relative;
            transition : all 0.3s ease-in-out;

            &:hover {
              background-color: #C6F5F2;
              border-radius   : 20px;
            }
          }

          .nav-link.active {
            background-color: #C6F5F2;
            border-radius   : 20px;
          }
        }

      }
    }
  }
}
// header padres

#header {
  #navbar-main {
    padding: 0rem 4rem;
    #CollapsingNavbar {
      align-items: initial;
      .offcanvas-body{
        justify-content: space-between;
        #block-padres{
          .nav {
            gap: 50px;

            .nav-item {
              .nav-link {
                color      : black !important;
                font-size  : 1rem;
                font-weight: 700;
                padding    : 0 0.5rem;
                position   : relative;
                transition : all 0.3s ease-in-out;

                &:hover {
                  background-color: #C6F5F2;
                  border-radius   : 20px;
                }
              }

              .nav-link.active {
                background-color: #C6F5F2;
                border-radius   : 20px;
                padding: 0rem 1.5rem;
              }
              &:nth-child(3){
                order: 1;
              }
              &:nth-child(2){
                order: 2;
              }
              &:nth-child(1){
                order: 2;
              }
            }
          }
        }
        #block-koala-account-menu{
          .no-admin{
            .nav-link{
              font-size: 1rem;
              font-weight: 700;
              color: $TurqK500!important;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 800px){
  #header {
    #navbar-main {
      padding: 0rem 1rem;
      .navbar-toggler{
        padding-right: 0px;
      }
    }
  }
}
@media (min-width: 1400px) {
  body #main-wrapper #main{
    max-width: 80%!important;
  }
}
// media mayor a 1200px
@media (min-width: 1200px) {
  body {
    #page-wrapper {
      #page {
        header#header {
          position: fixed;
          width   : 100vw;
          top     : 0;
          z-index : 10000;
          left    : 0;
        }

        #main-wrapper {
          margin-top: 84px;
        }
      }
    }
  }
}

//media menor a 1200px
@media (max-width: 1199px) {
  body.scrollup {
    #page-wrapper {
      #page {
        header#header {
          position: fixed;
          width   : 100vw;
          top     : 0;
          z-index : 10000;
          left    : 0;
        }

        #main-wrapper {
          margin-top: 84px;
        }
      }
    }
  }

  header#header {
    .probar-ahora.nav-link {
      background   : #FFFFFF;
      border       : 2px solid #297E88;
      border-radius: 28px;
      color        : #297E88 !important;
      padding      : 0.2rem 1rem 0.2rem 1rem;
      margin-left  : 2rem;

      &:hover {
        background-color: #297E88;
        color           : white !important;
      }
    }

    #block-views-block-redes-sociales-p-responsive {
      margin-left: 1.6rem;

      h2 {
        font-size: 1rem;
      }

      .content {
        .view-redes-sociales-p {
          .view-content {
            display    : flex;
            flex-wrap  : nowrap;
            margin-left: 0.1rem;

            .views-row {
              width  : 15%;
              padding: 0;
              margin : 0;
            }
          }
        }
      }
    }

    #block-legal-2 {
      margin-left: 1.6rem;

      h2 {
        font-size: 1rem;
      }

      ul {
        list-style  : none;
        padding-left: 0rem;

        li {
          margin-bottom: 2rem;

          a {
            color          : black;
            text-decoration: none;
            font-size      : 1.1rem;
            letter-spacing : 0.0625rem;
            font-weight    : 800;
          }
        }
      }
    }

  }


}

@media (min-width: 1200px) {

  header#header {
    #block-legal-2 {
      display: none;
    }

    #block-views-block-live-chat-responsive {
      display: none;
    }

    #block-views-block-redes-sociales-p-responsive {
      display: none;
    }
  }
}
