// Horario profesor
#block-koala-content {
  .views-element-container {
    .view-ver-horario-profesor {
      margin-top: 2rem;

      .view-content {
        .views-field {
          border-radius: 20px;
          padding      : 1rem 1.5rem;
          width        : 90%;
          margin       : 0 auto;
          margin-bottom: 1rem;

          h2 {
            font-weight: 700;
            font-size  : 1.3rem;
          }

          .field-content {
            .table-responsive {
              table {
                thead {
                  border-style: none;
                  border-color: transparent;
                }

                tbody {
                  border-radius: 20px !important;

                  tr {
                    border-style: none;
                    border-color: transparent;

                    td:nth-child(1) {
                      border-bottom-left-radius: 20px;
                      border-top-left-radius   : 20px;
                    }

                    td:nth-child(2) {
                      border-bottom-right-radius: 20px;
                      border-top-right-radius   : 20px;
                    }
                  }
                }
              }
            }
          }
        }

        .views-field-nid {
          .field-content {
            a {
              background     : #FFFFFF;
              border         : 2px solid #297E88;
              border-radius  : 28px;
              color          : black !important;
              padding        : 0.5rem 1.2rem 0.5rem 1.2rem;
              text-decoration: none;
              font-weight    : 700;
              font-size      : 1.2rem;

              &:hover {
                background-color: #297E88;
                color           : white !important;
              }
            }
          }
        }

        .views-field-field-horario-de-trabajo-lunes {
          background: $RedK100;
        }

        .views-field-field-horario-de-trabajo-martes {
          background: $TurqK100;
        }

        .views-field-field-horario-de-trabajo-miercol {
          background: $GreenK100;
        }

        .views-field-field-horario-de-trabajo-jueves {
          background: $AguaK100;
        }

        .views-field-field-horario-de-trabajo-viernes {
          background: $YellowK100;
        }

        .views-field-field-horario-de-trabajo-sabado {
          background: $BrowmK100;
        }

        .views-field-field-horario-de-trabajo-domingo {
          background: $AguaK100;
        }
      }
    }
  }
}

// Editar horario profesor

.node-horarios-de-trabajo-editar-horarios-form {
  width : 90%;
  margin: 0 auto;

  .btn-primary {
    background     : #FFFFFF;
    border         : 2px solid #297E88;
    border-radius  : 28px;
    color          : black !important;
    padding        : 0.2rem 0.7rem 0.2rem 0.7rem;
    text-decoration: none;
    font-weight    : 700;
    font-size      : 1.2rem;
    margin-top     : 0.5rem;

    &:hover {
      background-color: #297E88;
      color           : white !important;
    }
  }

  .button--danger {
    background     : #FFC2C4;
    border         : 2px solid #FF9294;
    border-radius  : 32px;
    color          : black;
    padding        : 0.3rem 1.1rem;
    text-decoration: none;
    font-weight    : 700;
    font-size      : 1.2rem;
    margin-top     : 0.5rem;
  }


  .link.tabledrag-toggle-weight {
    font-weight  : 700;
    border-radius: 20px;

    &:hover {
      background-color: $RedK100;
    }
  }

  .content {
    margin-top: 1.5rem;

    .layout-region {
      .layout--onecol {
        .layout__region {
          .field--name-title {
            .js-form-item {
              label {
                font-weight  : 600;
                margin-bottom: 0.5rem;
              }

              input {
                border-radius   : 25px;
                border          : 2px solid #BECACA;
                background-color: white;
                height          : 2.9rem;
                color           : #BECACA;
                margin-bottom   : 1rem;
              }
            }
          }

          .field--type-double-field {
            .js-form-item {
              .table-responsive {
                border-radius: 20px;
                padding      : 1rem 0rem 0rem 0rem;
                border       : 2px solid #BECACA;
                margin-bottom: 0.5rem;

                .tabledrag-toggle-weight-wrapper {
                  padding-right: 1rem;
                }

                table {
                  thead {
                    tr {
                      th {
                        h4 {
                          font-weight: 700;
                        }
                      }

                      .tabledrag-hide {
                        padding-bottom: 1rem;
                      }
                    }
                  }

                  tbody {
                    .draggable {
                      .js-form-item {
                        .double-field-elements {
                          .double-field-subfield-form-item {
                            label {
                              font-weight  : 600;
                              margin-bottom: 0.5rem;
                            }

                            .chosen-container {
                              background-image: none;
                              border          : none;
                              padding         : 0;
                              border-radius   : 32px;

                              .chosen-single {
                                height         : 48px;
                                background     : #FFFFFF;
                                border         : 2px solid #BECACA;
                                border-radius  : 32px;
                                display        : flex;
                                flex-direction : row;
                                justify-content: center;
                                align-items    : center;
                                font-weight    : 500;
                                color          : black;

                                div {
                                  b {
                                    background-position: -2px 11px !important;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              small {
                font-size: 1rem;
              }
            }
          }

          .field--type-entity-reference {
            .js-form-item {
              label {
                font-weight  : 600;
                margin-bottom: 0.5rem;
              }

              .chosen-container {
                background-image: none;
                border          : none;
                padding         : 0;
                border-radius   : 32px;

                .chosen-single {
                  height         : 48px;
                  background     : #FFFFFF;
                  border         : 2px solid #BECACA;
                  border-radius  : 32px;
                  display        : flex;
                  flex-direction : row;
                  justify-content: center;
                  align-items    : center;
                  font-weight    : 500;
                  color          : black;

                  div {
                    b {
                      background-position: -2px 11px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .layout-region-node-secondary {
      .js-form-item {
        .vertical-tabs {
          border-radius: 20px;
          border       : 2px solid #BECACA;
          margin-top   : 2rem;

          .vertical-tabs__menu {
            border: none;
          }

          .vertical-tabs__menu-item {
            border       : none;
            border-radius: 20px;
          }

        }
      }
    }

    .layout-region-node-footer {
      .form-actions {
        display: flex;
        gap    : 8px;
      }
    }
  }
}
