.path-padres {
  .block-quicktabs-blockcalendario-agendar {
    margin-top: 2rem;

    //TABs
    .item-list {
      > .quicktabs-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        > li {
          border: unset;
          background: unset;

          > a {
            text-align: center;
            color: #000;
            text-decoration: none;
            background: unset;
            border: unset;
            border-bottom: 2px solid #e6f1f1;
            padding: 1rem 2rem 0.5rem 2rem;
            font-weight: 700;
          }

          &.active {
            a {
              color: #ff6669;
              border-bottom: 2px solid black;
              font-weight: 700;
            }
          }
        }
      }
    }

    //Contenido
    .quicktabs-main {
      .quicktabs-tabpage {
        border: unset;
      }
    }
  }

  //VISTA MIS KOALAS - AGENDAR CITA
  .view-mis-koalas.view-display-id-block_6 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .view-header {
      font-weight: 700;
      font-size: 1rem;
    }

    .view-content.row {
      .views-view-grid {
        .vistas-fila {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 16px;

          .views-field {
            background: #e6f1f1;
            width: 390px !important;
            border-radius: 32px;
            height: 112px;
            .access-acudiente {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              gap: 16px;
              padding: 1rem;

              .imagen {
                flex: 0 20%;
                width: 20%;

                img {
                  height: 80px;
                  width: 80px;
                  object-fit: cover;
                  border: 1px solid white;
                  border-radius: 200px;
                }
              }

              .nombre-datos {
                margin-left: 1rem;
                width: 56%;
                .nombre {
                  a {
                    color: black;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 20px;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &:after {
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                background-color: white;
                border-radius: 27px;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }

  //POPUP ALUMNOS
  div[id^="windowManager_"] {
    //width           : 100% !important;
    //height          : 100% !important;
    //background-color: #000000b0 !important;

    > span[id^="htmlElement_"] {
      position: absolute;
      //left        : 42% !important;
      //top         : 20% !important;
      width: 300px !important;
      height: max-content !important;
      border-color: rgb(1 1 1 / 0%) !important;

      div.jsframe-titlebar-focused {
        background: #e6f1f1 !important;
        color: black !important;
        width: 300px !important;
        height: 50px !important;
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
        border-bottom: none !important;
        top: -9px !important;

        > span {
          left: 16px !important;
          top: 16px !important;
          display: block !important;
          max-width: 260px !important;
          word-wrap: break-word !important;
          word-break: break-all !important;
          font-size: 1rem !important;
        }
      }
      div {
        .datos-clase {
          .imagen {
            img {
              padding: 1rem;
            }
          }
          .alumno {
            font-weight: 500;
            color: black;
            &:before {
              content: "Horario de clase";
              font-weight: 700;
              font-size: 24px;
              color: black;
            }
            p {
              margin-bottom: 0.5rem !important;
            }
            .datos-alumno {
              background-color: white;
              width: 260px;
              border-radius: 32px;
              height: 56px;
              font-weight: 700;
              font-size: 20px;
              display: flex;
              align-items: center;
              margin: 0 auto;
              padding: 0.5rem;
              a {
                color: black;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
              &:before {
                content: "";
                display: block;
                width: 40px;
                height: 40px;
                margin-right: 1rem;
                background-image: url("/themes/custom/koala/images/Alumno-info.jpg");
              }
            }
          }
          .profesor {
            font-weight: 500;
            color: black;
            margin-top: 1rem;
          }
          .fecha.text-center {
            font-weight: 500;
            color: black;
            .fecha {
              font-size: 20px;
              font-weight: 700;
            }
          }
          .boton {
            background-color: #2ff7ee;
            border: 2px solid #297e88;
            border-radius: 32px;
            width: 260px;
            height: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 1rem;
            &:hover {
              background-color: #297e88;
              a {
                color: white;
              }
            }
            a {
              color: black;
              text-decoration: none;
              font-weight: 700;
              font-size: 20px;
            }
          }
          .editar-horario {
            font-weight: 700;
            text-decoration: underline;
            text-align: center;
            margin-top: 1rem;
          }
        }
      }

      div[id^="window_"]:not(.jsframe-titlebar-focused) {
        left: 0px !important;
        top: 30px !important;
        width: 300px !important;
        height: 500px !important;
        background-color: #e6f1f1 !important;
        border-radius: 16px !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

        > div {
          background-color: #e6f1f1 !important;
          border-bottom-right-radius: 16px !important;
          border-bottom-left-radius: 16px !important;
        }

        > div:nth-of-type(1) {
          left: 270px !important;
          background-color: transparent !important;
          top: -22px !important;

          > span {
            font-size: 19px !important;
            color: black !important;
          }
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .path-padres {
    .view-mis-koalas.view-display-id-block_6 {
      .view-header {
        font-size: 20px;
        .text-center {
          margin-bottom: 2rem !important;
        }
      }
      .view-content.row {
        .views-view-grid {
          .vistas-fila {
            display: block !important;
            .views-field {
              width: 342px !important;
              margin-bottom: 1rem;
              .access-acudiente {
                .nombre-datos {
                  width: 52%;
                }
              }
            }
          }
        }
      }
    }
  }
}
