.path-node.rol-padre {
  form.node-agendar-clase-agendando-clase-form.node-form {
    .content {
      .volver {
        a {
          color          : #000;
          text-decoration: none;
          color          : black;
          border-bottom  : 1px solid;
        }
      }

      .izquierda {
        .view-content {
          .views-row {

            .datos-profesor,
            .datos-del-koala {
              align-content: center;
              align-items  : center;

              &.datos-del-koala {
                margin-top: 2rem;

                .titulo-bloque {
                  font-size    : 1.5rem;
                  background   : #80808036;
                  padding      : 1rem;
                  margin-bottom: 1rem;

                  h3 {
                    font-size: 1.4rem;
                  }
                }
              }

              .titulo-bloque {
                font-size    : 1.5rem;
                background   : #80808036;
                padding      : 1rem;
                margin-bottom: 1rem;

                h3 {
                  font-size: 1.4rem;
                  margin   : 0;
                }
              }

              .imagen-profesor {
                img {
                  border-radius: 50%;
                  width        : 100px;
                  height       : 100px;
                  object-fit   : cover;
                  border       : 1px solid #8080803d;
                }
              }

              .nombres-profesor {
                padding-right: 1rem;

                h2 {
                  margin     : 0;
                  font-size  : 1.5rem;
                  line-height: 1.6rem;
                }
              }
            }

            .views-field-field-tu-video- {
              iframe {
                width     : 100%;
                min-height: 250px;
                height    : auto;
              }
            }
          }
        }
      }

      .derecha {
        padding-left: 2rem;

        .formulario {
          #select-horario {
            margin-bottom: 2rem;
            border       : 2px solid #E6F1F1;
            border-radius: 24px;
            padding      : 1rem;

            .titulo {
              h2 {
                font-size    : 1.25rem;
                font-weight  : 700;
                margin-bottom: 0.5rem;
                padding-left : 1.5rem;
              }

              &::before {
                content    : '\f017';
                font-family: 'Font Awesome 5 Free';
                display    : inline-block;
                position   : absolute;
              }
            }

            .horario {
              display              : grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
              gap                  : 16px;
              justify-items        : start;
              margin-top           : 1rem;

              a {
                text-decoration: none;
                padding        : 8px 16px 5px 16px;
                border         : 1px solid #BECACA;
                border-radius  : 32px;
                color          : black;
                font-size      : 1rem;

                &.active {
                  background: #2FF7EE;
                }
              }
            }
          }

          //Formulario
          div[data-drupal-selector^="edit-field-layout"] {
            .layout__region--content {

              .field--name-title,
              .field--name-field-nombre-del-nino-a,
              .field--name-field-fecha-nac,
              .field--name-field-asignar-profesor,
              .field--name-field-alumno-relacionado {
                display: none;
              }
            }
          }
        }

        .layout-region-node-footer {
          width                : 100%;
          display              : grid;
          grid-template-columns: 1fr 1fr;

          @media (max-width: 800px) {
            grid-template-columns: 1fr;
          }

          align-items   : center;
          align-content : center;
          justify-items : center;
          padding       : 0;

          .alumno-seleccionado {}

          .form-actions {
            align-self: unset;
          }
        }

        .field--name-field-fecha-cita-oculta {
          fieldset {
            legend {
              display: none;
            }
          }
        }
      }
    }
  }
}