.path-hijo:not(.page-view-koalas-avatares-ninos) {
  background: #ecf9fb;

  #page-wrapper #page #main-wrapper {
    padding-top: 2rem;
  }

  .layout--threecol-section--33-34-33 {
    >.layout__region--first:nth-child(1) {
      >h1 {
        display: none;
      }
    }
  }

  //Datos del nino, muestra el nombre y saluda
  #main-wrapper {
    min-height: 80vh;

    #block-koala-content {
      .layout__region--first {
        padding-left: 0.5rem;

        .block-views-blockhijo-block-1 {
          .view-hijo {
            .views-row {
              display       : flex;
              flex-direction: row;
              align-items   : center;
              flex-wrap     : wrap;
              width         : 100%;

              .views-field-user-picture {
                margin-right: 2%;
                width       : 12%;

                .field-content {
                  img {
                    width        : 48px;
                    height       : 48px;
                    border-radius: 200px;
                    border       : 1px solid white;
                    object-fit   : cover;
                  }
                }
              }

              .views-field-field-nombre-del-hijo {
                width: 86%;

                .field-content {
                  p {
                    margin: 0;

                    strong {
                      font-size  : 24px;
                      line-height: 27px;
                    }
                  }
                }
              }

              .views-field-nothing {
                width     : 100%;
                margin-top: 1rem;

                .field-content {
                  p {
                    font-weight: 500;
                    color      : black;
                    margin     : 0;
                  }
                }
              }
            }
          }
        }

        .block-views-blockclase-hijo-block-1 {
          .view-clase-hijo {
            margin-top: 1rem;

            .view-content.row {
              padding: 0px 12px;
            }

            .views-row {
              border       : 2px solid #becaca;
              background   : white;
              border-radius: 24px;
              padding      : 1rem;
              text-align   : center;

              .views-field {
                .field-content {
                  .titulo {
                    font-weight: 500;
                    color      : black;
                  }

                  .fecha {
                    font-weight: 700;
                    color      : black;
                  }

                  .enlace {
                    background-color: #2ff7ee;
                    border          : 2px solid #297e88;
                    border-radius   : 32px;
                    width           : 225px;
                    height          : 51px;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    margin          : 0 auto;

                    &:hover {
                      background-color: #297e88;

                      a {
                        color: white;
                      }
                    }

                    a {
                      color          : black;
                      text-decoration: none;
                      font-weight    : 700;
                      font-size      : 20px;
                    }
                  }
                }
              }
            }
          }
        }

        .block-views-blockmis-mundos-perfil-block-1 {
          margin-top: 1rem !important;
          position  : relative;

          .view-mis-mundos-perfil {
            .view-header {
              .titulo {
                text-align: initial !important;

                strong {
                  font-size      : 24px;
                  text-decoration: underline 1px;
                }
              }

              .subtitulo {
                text-align : initial !important;
                font-weight: 500;
                color      : black;
              }
            }

            .view-content {
              .horizontal {
                .views-row {
                  .views-col {
                    margin-right: 3%;
                    width       : 48.5% !important;

                    &:last-child {
                      margin-right: 0rem;
                    }

                    .field-content {
                      .categoria {
                        margin-top   : 1rem;
                        margin-bottom: 1.5rem;
                        border-radius: 16px;
                        border       : 1px solid #becaca;

                        .imagen {
                          img {
                            height    : 126px;
                            width     : 100%;
                            object-fit: cover;
                          }
                        }

                        .titulo-numero {
                          background-color          : white;
                          width                     : 100%;
                          min-height                : 60px;
                          padding                   : 0.5rem;
                          border-bottom-left-radius : 16px;
                          border-bottom-right-radius: 16px;

                          a {
                            text-decoration: none;
                            color          : black;

                            .titulo {
                              font-size  : 24px;
                              font-weight: 700;
                            }

                            .nro {
                              font-weight: 500;
                              color      : black;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .view-footer {
              position: absolute;
              right   : -15%;
              bottom  : 33%;

              a {
                img {
                  background   : white;
                  box-shadow   : 0px 0px 7px 0px #becaca;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }

      .layout__region--second {
        display            : flex;
        flex-direction     : column;
        justify-content    : center;
        align-items        : center;
        //Arreglar este background
        background-image   : url(/themes/custom/koala/images/background-hijos.png);
        background-position: center;
        background-size    : contain;
        background-repeat  : no-repeat;

        .vocabulary-koalas-ninos {
          >h2 {
            display: none;
          }

          img {
            width : 350px !important;
            height: auto;
          }
        }
      }

      .layout__region--third {
        .block-views {
          .view-id-koalas_avatares_ninos {
            .views-field-nothing {
              .estrella {
                background-color: #ff6669;
                color           : white;
                height          : 56px;
                border-radius   : 16px;
                width           : 210px;
                display         : flex;
                align-items     : center;
                justify-content : center;
                border          : 2px dotted white;

                img {
                  height      : 35px;
                  margin-right: 0.5rem;
                }

                .texto {
                  font-weight: 700;
                  font-size  : 24px;

                  span {
                    font-size: 16px;
                  }
                }
              }
            }

            .views-field-title {
              margin-top: 1rem;

              h2 {
                font-weight: 700;
                font-size  : 40px;
              }
            }

            .views-field-field-describe-tu-koala {
              font-weight  : 500;
              line-height  : 21px;
              margin-bottom: 1rem;
            }

            .views-field-nothing-1 {
              height          : 34px;
              border-radius   : 28px;
              border          : 2px solid #297e88;
              background-color: white;
              width           : 223px;
              display         : flex;
              align-items     : center;
              justify-content : center;
              margin-bottom   : 1rem;

              &:hover {
                background-color: #297e88;

                .enlace-personalizar {
                  a {
                    color: white;
                  }
                }
              }

              .enlace-personalizar {
                a {
                  color          : black;
                  text-decoration: none;
                  font-weight    : 700;
                }
              }
            }

            .views-field-nothing-2 {
              .avances-poderes {
                .titulo {
                  font-weight: 500;
                }

                img {
                  width     : 343px;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}

//PAGINA EDITAR AVATARES - MI KOALA
.page-view-koalas-avatares-ninos {
  background: #ecf9fb;

  .ocultar {
    display: none;
  }

  #page-wrapper #page #main-wrapper {
    padding-top: 2rem;
  }

  .layout__region--first {
    .texto-perfil {
      h3 {
        font-size  : 24px;
        font-weight: 700;
        text-align : center;
      }

      .text-center {
        font-weight: 500;
      }

      .estrella {
        background-color: #ff6669;
        color           : white;
        height          : 56px;
        border-radius   : 16px;
        width           : 210px;
        justify-content : center;
        border          : 2px dotted white;
        display         : flex;
        align-items     : center;
        margin          : 0 auto;

        img {
          height      : 35px;
          margin-right: 0.5rem;
        }

        .texto {
          font-weight: 700;
          font-size  : 1.5rem;

          span {
            font-size: 1rem;
          }
        }
      }
    }

    .field--name-title {
      .js-form-type-textfield {
        text-align: center;

        label {
          font-weight  : 500;
          margin-bottom: 0.5rem;
        }

        input {
          height       : 46px;
          border-radius: 32px;
          border       : 2px solid #becaca;
          color        : black;
          font-weight  : 500;
        }
      }
    }

    .field--name-field-describe-tu-koala {
      text-align   : center;
      margin-bottom: 0.5rem !important;

      label {
        font-weight  : 500;
        margin-bottom: 0.5rem;
      }

      .form-textarea-wrapper {
        textarea {
          border-radius: 16px;
          border       : 2px solid #becaca;
          color        : black;
          font-weight  : 500;
          height       : 123px;
        }
      }
    }

    .vocabulary-koalas-ninos {
      >h2 {
        display: none;
      }

      img {
        width : 200px !important;
        height: auto;
      }

      >div.content {
        text-align   : center;
        margin-bottom: 1rem;
      }
    }
  }

  .form-actions {
    width         : 25%;
    display       : flex;
    flex-direction: column;

    button {
      border          : 2px solid #297e88;
      background-color: white;
      color           : black;
      font-weight     : 700;
      font-size       : 20px;
      border-radius   : 32px;

      &:hover {
        background-color: #297e88;
        color           : white;
      }
    }

    &:before {
      content      : "Escribe un máximo de 150 caractéres";
      font-weight  : 400;
      font-size    : 12px;
      margin-bottom: 0.5rem;
    }
  }

  .layout__region--second {
    padding-left: 1rem;

    .form-switch .form-check-input {
      margin-left: -1.5em;
    }

    #edit-field-selecc--wrapper {
      >legend {
        display: none;
      }
    }

    .field--type-entity-reference {
      fieldset {
        .fieldset-wrapper {
          background-color: #d7eff2;
          padding         : 1rem;
          border-radius   : 16px;
          margin-left     : 1.5rem;

          &:before {
            content    : "Profesiones";
            font-weight: 700;
            font-size  : 16px;
            color      : black;
          }
        }
      }
    }

    #edit-field-selecc {
      display              : grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap                  : 16px;
      margin-top           : 1rem;

      .radio {
        position    : relative;
        padding-left: 0em !important;

        input {
          position: absolute;
          left    : 16%;
          top     : 6%;

          &:after {
            margin-top: 0.25rem !important;
          }
        }
      }

      .form-check-label {
        .views-field-nothing {
          .field-content {
            display      : block;
            font-weight  : 700;
            text-align   : center;
            background   : white;
            padding      : 0.5rem 0.5rem 0rem 0.5rem;
            border-radius: 16px;
            font-size    : 20px;

            p {
              font-weight: 500;
              font-size  : 16px;
            }

            img {
              width         : 100%;
              height        : auto;
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}


//Media min 1200px
@media (min-width: 1200px) {
  body.rol-hijo:not(.page-view-mis-mundos-detalle) {
    #page-wrapper {
      #page {
        #main-wrapper {
          min-height    : 80vh;
          padding-bottom: 1rem;

          >#main {
            min-height     : 75vh;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            flex-wrap      : nowrap;
          }
        }
      }
    }
  }

  body.page-view-mis-mundos-detalle {
    #page-wrapper {
      #page {
        #main-wrapper {
          min-height    : 80vh;
          padding-bottom: 1rem;

          >#main {
            min-height: 75vh;
          }
        }
      }
    }
  }
}
