.page-view-mis-koalas.path-padres {
  #main {
    .main-content {
      >section.section {
        margin-top: 2rem;

        //DETALLE AGENDAR CLASE A NIÑO
        .view-mis-koalas.view-display-id-page_1 {
          text-align: center;

          &:before {
            content    : "Agendar clase - Paso 1";
            font-size  : 2rem;
            font-weight: 700;
          }

          //Fila de los datos del niño
          .view-content {
            margin-top: 1.5rem;

            .views-row {
              display: flex;

              .views-field-field-nombre-del-hijo {
                order: 2;

                .views-label-field-nombre-del-hijo {
                  display: none;
                }

                .field-content {
                  font-weight: 700;
                  font-size  : 24px;
                }
              }

              .views-field-user-picture {
                order       : 1;
                margin-right: 1rem;

                .field-content {
                  img {
                    height: 4rem;
                    width : 4rem;
                  }
                }
              }

              .views-field-field-fecha-nacimiento {
                order         : 3;
                display       : flex;
                flex-direction: column-reverse;
                position      : relative;
                left          : -133px;

                .field-content {
                  font-weight: 700;
                }
              }

            }
          }

          // PROFESORES DISPONIBLES
          .view-footer {
            .view-id-mis_koalas.view-display-id-block_3 {
              display       : flex;
              flex-direction: row;
              flex-wrap     : wrap;
              width         : 100%;


              // TITULO DE LA SECCION
              .view-header {
                width: 100%;

                .titulo-profesores {
                  font-weight  : 700;
                  font-size    : 1.5rem;
                  margin-bottom: 1.5rem;
                }
              }

              .view-filters {
                width: 33%;
              }

              .view-empty {
                width          : 63%;
                display        : flex;
                align-content  : center;
                justify-content: center;
                align-items    : center;
                background     : #FFE8E8;
                border-radius  : 15px;
                margin-left    : 3%;
              }

              //CONTENIDO - PROFESORES DISPONIBLES
              .view-content {
                width                : 63%;
                margin-left          : 3%;
                display              : grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap                  : 15px 15px;
                justify-content      : center;
                align-content        : center;
                justify-items        : center;
                align-items          : center;

                .views-row {
                  .views-field-field-nombres-y-apellidos-del-pr {
                    background   : #297E88;
                    border-radius: 25px;
                  }
                }

                .views-row:nth-child(2n) {
                  .views-field-field-nombres-y-apellidos-del-pr {
                    background   : #00D2C2;
                    border-radius: 25px;
                  }
                }

                .views-row:nth-child(3n) {
                  .views-field-field-nombres-y-apellidos-del-pr {
                    background   : #727F7F;
                    border-radius: 25px;
                  }
                }

                .views-row:nth-child(4n) {
                  .views-field-field-nombres-y-apellidos-del-pr {
                    background   : #FF6669;
                    border-radius: 25px;
                  }
                }

                .views-row:nth-child(5n) {
                  .views-field-field-nombres-y-apellidos-del-pr {
                    background   : #869021;
                    border-radius: 25px;
                  }
                }

                .views-row {
                  .views-field-field-nombres-y-apellidos-del-pr {
                    width: 100%;

                    .field-content {
                      display       : flex;
                      flex-direction: row;
                      flex-wrap     : nowrap;
                      align-content : center;
                      align-items   : center;

                      label {
                        font-weight   : 700;
                        display       : flex;
                        flex-direction: row;
                        flex-wrap     : nowrap;
                        align-items   : center;
                        padding       : 4px;
                        color         : white;
                        text-align    : left;

                        img {
                          border       : 1px solid $gray-500;
                          border-radius: 50%;
                          width        : 4rem;
                          height       : 4rem;
                          object-fit   : cover;
                        }
                      }

                      input {}
                    }
                  }
                }
              }
            }
          }

          .view-footer {
            display        : flex;
            justify-content: center;
            flex-wrap      : wrap;
            flex-direction : column;
            align-items    : center;

            .btn-primary {
              background     : #FFFFFF;
              border         : 2px solid #297E88;
              border-radius  : 32px;
              width          : 188px;
              height         : 45px;
              padding        : 12px 16px;
              color          : #000000;
              font-weight    : 700;
              font-size      : 20px;
              display        : flex;
              align-items    : center;
              justify-content: center;

              &:hover {
                background-color: $TurqK500;
                color           : white;
              }
            }
          }
        }
      }
    }
  }
}
