body.page-user-register {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .barra-superior {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 5.2rem;
    width: 83%;

    .atras {
      width: 5%;
      margin-left: 4rem;
      float: left;

      a {
        i {
          font-size: 30px;
          color: black;
        }
      }
    }

    .logo {
      width: 54%;
      text-align: end;
    }
  }

  #header {
    position: initial !important;
    #navbar-main {
      .navbar-toggler {
        display: none;
      }

      .offcanvas-body {
        align-items: center;

        &::before {
          content: "";
          display: block;
          background-image: url("http://localhost/koala/koala-admin/web/themes/custom/koala/images/logo-koala.png");
          height: 27px;
          width: 97px;
          background-repeat: no-repeat;
          // position: absolute;
        }
      }

      #block-koala-main-menu {
        display: none;
      }

      .navbar-brand {
        text-align: center;
        width: 100%;
      }
    }
  }
  footer {
    padding-top: 2rem;
    .container {
      display: flex;
      margin-bottom: 1rem;
      .site-footer__top {
        width: 20%;
        align-items: center;
      }
      .footer-bottom {
        width: 80%;
        justify-content: end;
        display: flex;
        #block-footerbanderas {
          .field--name-body {
            .footer-banderas {
              align-items: center;
              margin-bottom: 0rem;
            }
          }
        }
      }
    }
  }

  #block-koala-content {
    .content {
      .title-logos {
        .title {
          h2 {
            font-weight: 700;
          }
        }

        .iconos {
          .col-4:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: end;

            .img {
              margin-right: 2.3rem;
              margin-bottom: 0.5rem;
            }
          }

          .col-4:nth-child(2) {
            .img {
              margin-bottom: 0.5rem;
            }
          }

          .col-4:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .img {
              margin-bottom: 0.5rem;
              padding-left: 1.3rem;
            }
          }

          .col-4 {
            .img {
              img {
                width: 4rem;
              }
            }

            .texto {
              font-weight: 600;
            }
          }
        }
      }

      .user-register-form {
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;

        .layout--twocol-section {
          .layout__region--first {
            padding-right: 0.5rem;

            .field--type-string {
              .js-form-item {
                label {
                  display: none;
                }

                input {
                  border-radius: 25px;
                  border: 2px solid $GreyK200;
                  height: 2.8rem;
                  color: black;
                  font-weight: 500;
                }
              }

            }
          }

          .layout__region--second {
            padding-left: 0.5rem;

            .js-form-wrapper {
              .js-form-item {
                input {
                  width: 100%;
                  border-radius: 25px;
                  border: 2px solid $GreyK200;
                  height: 2.8rem;
                  color: black;
                }

                .password-suggestions {
                  border-radius: 15px;
                  background-color: grey;
                  color: white;
                  padding: 0.5rem 1rem;
                  font-size: 0.9rem;
                }

                .js-form-type-password {
                  .password-strength {
                    .password-strength__title {
                      font-size: 0.9rem;
                      font-weight: 600;
                      color: black;
                    }
                  }

                  .password-confirm-message {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: black;
                    margin-top: 0.5rem;
                  }
                }
              }
              .js-form-type-password{
                overflow: visible!important;
              }
            }

            small {
              display: none;
            }
          }
        }
      }

      .form-actions {
        button {
          background-color: $AguaK500;
          border: 2px solid $TurqK500;
          padding: 0rem 1rem;
          font-size: 1.2rem;
          font-weight: 700;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
          color: black;
          border-radius: 25px;
          margin-bottom: 3rem;

          &:hover {
            background-color: $TurqK500;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) and (min-width: 325px) {
  .page-user-register{
    footer {
      padding-top: 2rem;
      .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        .site-footer__top {
          width: 25%!important;
          margin-bottom: 1rem;
        }
        .footer-bottom {
          width: 90%!important;
        }
      }
    }
  }
  #block-koala-content {
    .content {
      .title-logos {
        .iconos {
          .col-4:nth-child(1) {
            .img {
              margin-right: 1.3rem!important;
            }
          }
        }
      }

      .user-register-form {
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;

        .layout--twocol-section {
          .layout__region--first {
            padding-right: 0.5rem;

            .field--type-string {
              .js-form-item {
                label {
                  display: none;
                }

                input {
                  border-radius: 25px;
                  border: 2px solid $GreyK200;
                  height: 2.8rem;
                  color: black;
                  font-weight: 500;
                }
              }
            }
          }

          .layout__region--second {
            padding-left: 0.5rem;

            .js-form-wrapper {
              .js-form-item {
                input {
                  width: 100%;
                  border-radius: 25px;
                  border: 2px solid $GreyK200;
                  height: 2.8rem;
                  color: black;
                }

                .password-suggestions {
                  border-radius: 15px;
                  background-color: grey;
                  color: white;
                  padding: 0.5rem 1rem;
                  font-size: 0.9rem;
                }

                .js-form-type-password {
                  .password-strength {
                    width: 65%!important;
                    .password-strength__title {
                      font-size: 0.9rem;
                      font-weight: 600;
                      color: black;
                    }
                  }

                  .password-confirm-message {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: black;
                    margin-top: 0.5rem;
                  }
                }
              }
            }

            small {
              display: none;
            }
          }
        }
      }

      .form-actions {
        button {
          background-color: $AguaK500;
          border: 2px solid $TurqK500;
          padding: 0rem 1rem;
          font-size: 1.2rem;
          font-weight: 700;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
          color: black;
          border-radius: 25px;
          margin-bottom: 3rem;

          &:hover {
            background-color: $TurqK500;
            color: white;
          }
        }
      }
    }
  }
  body.page-user-register {
    .barra-superior {
      .atras {
        margin-left: 1rem;
      }
      .logo {
        width: 100%;
        text-align: center;
        margin-left: 1rem;
      }
    }
    #header {
      #navbar-main {
        #block-koala-main-menu {
          display: none;
        }

        .navbar-brand {
          width: auto;
        }
      }
    }

    #block-koala-content {
      .content {
        .title-logos {
          .title {
            padding-bottom: 1rem !important;

            h2 {
              font-weight: 700;
            }
          }

          .iconos {
            .col-4 {
              .texto {
                width: 78%;
                margin: 0 auto;
              }
            }
          }
        }

        .user-register-form {
          width: 90%;

          .layout--twocol-section {
            .layout__region--first {
              padding-right: 0rem;
            }

            .layout__region--second {
              padding-left: 0rem;
            }
          }
        }
      }
    }
  }

  body.simplelogin.page-user-register {
    .simplelogin-wrapper {
      .simplelogin-form {
        width: 100% !important;

        .simplelogin-bg {
          .block-system {
            .content {
              form {
                .form-actions {
                  button {
                    width: 62%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 701px) {
  body.page-user-register {
    #header {
      #navbar-main {
        #block-koala-main-menu {
          display: none;
        }

        .navbar-brand {
          width: auto;
        }
      }
    }
  }
}
