.path-product {
  background-color: #e6f1f1;
  #block-koala-content {
    margin: 0 auto;
    width: 100%;
    margin-top: 3rem;

    .layout__region--content {
      .block-field-blockcommerce-productclasestitle {
        font-weight: 700;
        font-size: 1.25rem;
        text-align: center;
      }

      .block-field-blockcommerce-productclasesfield-imagen-de-suscripcion {
        text-align: center;
        margin-top: 2rem !important;
        margin-bottom: 1rem !important;
        width: 50%;
        float: left;

        img {
          min-width: 600px;
          min-height: 340px;
          object-fit: contain;
          height: auto;
        }
      }
      .block-field-blockcommerce-productclasesbody {
        width: 48%;
        float: right;
        margin-top: 2rem !important;
        font-weight: 500;
      }
      .block-field-blockcommerce-product-variation4-semanas-mesprice {
        width: 48%;
        float: right;
        .field--name-price {
          margin-bottom: 1rem;
          background: white;
          padding: 0rem 1rem;
          box-shadow: 0px 2px 10px 0px #43434326;
          border-radius: 16px;
          height: 54px;
          display: flex;
          align-items: center;
          .field__label {
            background-color: #9ff8f4;
            height: 30px;
            border-radius: 24px;
            padding: 4px 8px;
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-right: 1rem;
          }
          .field__item {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
      }

      .block-field-blockcommerce-productclasesvariations {
        width: 48%;
        float: right;
        .field--name-purchased-entity {
          .form-type-select {
            label {
              font-weight: 700;
              margin-bottom: 0.5rem;
            }

            select {
              border-radius: 2.375rem;
              color: black;
              border: 2px solid #becaca;
              padding: 10px 14px !important;
              font-weight: 500;
            }
          }
        }

        .form-actions {
          text-align: center;
          margin-top: 2rem;

          button {
            height: 3rem;
            padding: 0.375rem 2rem;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;
            flex: 1 0 0;
            border-radius: 1.75rem;
            border: 2px solid var(--Turq-K500, #297e88);
            background: var(--Agua-K500, #2ff7ee);
            text-align: center;
            text-decoration: none;
            color: black;
            max-width: 300px;
            font-weight: 700;
            font-size: 1.25rem;

            &:hover {
              background: var(--White, #fff);
              color: var(--Turq-K600, #165f68);
            }
          }
        }
      }
    }
  }
}

// Pagina de informacion de la orden
.path-checkout {
  #block-koala-content {
    margin-top: 3rem;

    a {
      font-size: 1rem;
      font-weight: 700;
      color: #297e88 !important;
      text-decoration: underline;
    }

    span.fieldset-legend {
      font-size: 1.25rem;
      color: black;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }

    table {
      tbody {
        border-top: 2px solid #d7eff2;
        border-bottom: 2px solid #d7eff2;
        --bs-table-striped-bg: transparent;
        background-color: transparent;
        --bs-table-hover-bg: transparent;
        td {
          vertical-align: middle;
        }
      }
    }

    .checkout-pane-coupon-redemption,
    .form-actions {
      button {
        height: 3rem;
        padding: 0.375rem 2rem;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        flex: 1 0 0;
        border-radius: 1.75rem;
        border: 2px solid var(--Turq-K500, #297e88);
        background: white;
        text-align: center;
        text-decoration: none;
        color: #165f68;
        max-width: 300px;
        font-weight: 700;
        font-size: 20px;

        &:hover {
          background: #165f68;
          color: white;
        }
      }
    }

    .layout-checkout-form {
      .row {
        > .col-sm-6:nth-child(1) {
          .checkout-pane-payment-information {
            > legend {
              .fieldset-legend {
                margin-bottom: 1rem;
                width: 90vw;
              }
            }
            .fieldset-wrapper {
              .js-form-item {
                select,
                input {
                  border: 2px solid #becaca;
                  height: 46px;
                  border-radius: 32px;
                  font-weight: 500;
                }
                label {
                  font-weight: 500;
                  margin-bottom: 0.5rem;
                }
                .chosen-container {
                  border: 2px solid #becaca;
                  height: 46px;
                  border-radius: 32px;
                  font-weight: 500;
                  display: flex !important;
                  align-items: center;
                  .chosen-single {
                    border: none;
                    background: white;
                    box-shadow: none;
                    text-decoration: none;
                    span {
                      color: black;
                      font-weight: 500;
                    }
                  }
                }
              }
              .profile {
                .address {
                  font-weight: 500;
                }
              }
              .address-book-edit-button {
                border-radius: 1.75rem;
                border: 2px solid var(--Turq-K500, #297e88);
                background: white;
                color: #165f68;
                font-weight: 700;
                &:hover {
                  background-color: #165f68;
                  color: white;
                }
              }

              .js-form-type-checkbox {
                input {
                  border: none;
                  height: 1rem;
                }
              }

              #edit-payment-information-add-payment-method {
                border: 2px solid #e6f1f1;
                padding: 1rem;
                border-radius: 16px;
                .stripe-form {
                  .payment-method-icon-list {
                    .payment-method-icon {
                      box-shadow: 0px 2px 10px 0px #43434326;
                      border-radius: 4px;
                    }
                  }
                  .js-form-item {
                    .form-text {
                      border: 2px solid #becaca;
                      height: 46px;
                      border-radius: 32px;
                      font-weight: 500;
                      padding: 0.7rem 0rem 0rem 0.7rem;
                    }
                    select,
                    input {
                      border: 2px solid #becaca;
                      height: 46px;
                      border-radius: 32px;
                      font-weight: 500;
                    }
                    label {
                      font-weight: 500;
                      margin-bottom: 0.5rem;
                    }
                    #card-number-element {
                      width: 100%;
                    }
                  }
                  .js-form-item-payment-information-add-payment-method-payment-details-expiration {
                    width: 50%;
                    float: left;
                    #expiration-element {
                      width: 98%;
                    }
                  }
                  .js-form-item-payment-information-add-payment-method-payment-details-security-code {
                    width: 50%;
                    float: right;
                    #security-code-element {
                      width: 98%;
                    }
                  }
                }
              }
              .js-form-type-radio {
                border: 2px solid #e6f1f1;
                height: 54px;
                border-radius: 16px;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding-left: 3.5rem;
                margin-bottom: 1rem;
                .form-radio {
                  margin-right: 0.5rem;
                  width: 1.2rem;
                  height: 1.2rem;
                }
                .form-check-input:checked[type=radio]:after {
                  margin-left: 0.3rem;
                }
              }
            }
          }
        }
        > .col-sm-6:nth-child(2) {
          background-color: #ecf9fb;
          border-radius: 16px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          margin-top: 3.5rem;
          h3 {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;
          }
          .checkout-pane-order-summary {
            order: 2;
            margin-bottom: 0rem !important;
            .view-commerce-checkout-order-summary {
              .view-footer {
                .field--name-total-price {
                  .no-admin {
                    .order-total-line {
                      display: flex;
                      justify-content: space-between;
                    }
                    .order-total-line__total {
                      background: white;
                      box-shadow: 0px 2px 10px 0px #43434326;
                      height: 54px;
                      border-radius: 32px;
                      align-items: center;
                      padding: 0rem 1rem;
                      margin-top: 1rem;
                      .order-total-line-label {
                        font-weight: 500;
                      }
                      .order-total-line-value {
                        font-size: 20px;
                        width: auto;
                      }
                    }
                  }
                }
              }
            }
          }
          .checkout-pane-coupon-redemption {
            order: 1;
            .form-item-sidebar-coupon-redemption-form-code {
              width: 74.5%;
              float: left;
              label {
                font-weight: 500;
                color: black;
                margin-bottom: 0.5rem;
              }
              input {
                height: 46px;
                border-radius: 28px;
                border: 2px solid #becaca;
              }
            }
            .js-form-submit {
              width: 24%;
              float: right;
              background-color: white;
              font-weight: 700;
              color: #297e88;
              margin-top: 2rem;
              height: 46px;
              font-size: 16px;
              padding: 0rem;
              &:hover {
                background-color: #297e88;
                color: white;
              }
            }
          }
        }
      }
      .layout-region-checkout-footer {
        width: 87%;
        text-align: end;
        margin-top: 1.5rem;
      }
    }
  }

  .checkout-complete {
    .opciones {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2rem;
    }
  }
}
