.path-zona-pagos {
  .on-the-gray {
    margin-top: -2rem;
    padding: 0px!important;
  }
  //Cuadro de suscripciones activas
  .view-id-suscripciones {
    .view-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
      justify-content: center;

      .suscripcion-title {
        h1 {
          font-size: 1.25rem;
          font-weight: 700;
          margin-bottom: 0rem;
        }
      }

      .suscripciones {
        margin: 0 auto;
        width: 100%;
        padding: 1rem;
        align-items: center;
        gap: 1.5rem;
        border-radius: 1.5rem;
        background: var(--Grey-K100, #e6f1f1);

        .izquierda {
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;

          .imagenes-ninos {
            position: relative;
            margin-bottom: 0.5rem;

            img:nth-child(1) {
              z-index: 1;
              position: relative;
              margin-right: -1rem;
            }
            img:nth-child(2) {
              z-index: 2;
              position: relative;
              margin-right: -1rem;
            }
            img:nth-child(3) {
              z-index: 3;
              position: relative;
            }
          }

          .clases-restantes {
            width: 100%;
            text-align: center;

            .titulo {
              font-size: 1.25rem;
              font-weight: 700;
            }

            .numero-clases {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: center;
              align-items: center;
              font-size: 3rem;
              font-weight: 700;

              .restantes {
                margin-right: 8px;
              }
              .compradas {
                margin-left: 8px;
              }
            }
          }
        }

        .centro {
          width: 50%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-evenly;

          .fila1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .cuadro-blanco {
              border-radius: 0.5rem;
              background: var(--White, #fff);
              display: flex;
              padding: 0.25rem 0.5rem;
              align-items: center;
              gap: 0.5rem;
              max-width: 48%;
              width: 48%;
              justify-content: space-between;

              .texto {
                color: #000;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
              }
              .valor {
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
              }
            }
          }

          .fila2.fechas-inicio-fin {
            > div {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;

              &.inicio {
                padding-top: 1rem;
                padding-bottom: 1rem;
                .texto {
                  font-weight: 500;
                  color: #000;
                }
                .valor {
                  font-weight: 500;
                  color: #000;
                }
              }
              &.fin {
                div {
                  font-weight: 500;
                  color: #000;
                }
              }
            }
          }
        }

        .derecha {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          flex-wrap: nowrap;
          gap: 0.5rem;

          .suscripciones-activas {
            text-align: center;
            font-weight: 600;
            color: #000;
            span {
              font-weight: 700;
              font-size: 1.1rem;
            }
          }

          .ver-suscripciones {
            a {
              display: flex;
              height: 3rem;
              padding: 0.375rem 1rem;
              justify-content: center;
              align-items: center;
              gap: 0.75rem;
              flex: 1 0 0;
              border-radius: 1.75rem;
              border: 2px solid var(--Turq-K500, #297e88);
              background: var(--Agua-K500, #2ff7ee);
              text-align: center;
              text-decoration: none;
              color: black;
              font-weight: 700;

              &:hover {
                border-radius: 1.75rem;
                border: 2px solid var(--Turq-K500, #297e88);
                background: var(--White, #fff);
                color: var(--Turq-K600, #165f68);
              }
            }
          }
        }
      }
    }

    .view-content.row {
      display: none;
    }
  }

  .view-clases-por-nino {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;

    .vista-izquierda {
      flex: 1 49%;
      max-width: 445px;

      .vista-ninos {
        border-radius: 1.5rem;
        border: 2px solid var(--Grey-K100, #e6f1f1);
        padding: 1rem;
        margin-bottom: 1rem;

        .title-section {
          font-size: 1.2rem;
          font-weight: 700;
          padding-left: 3rem;
          margin-bottom: 0.5rem;
          position: relative;
          display: flex;
          align-items: center;
          &:before {
            content: "";
            background-image: url("../images/Presentation.svg");
            height: 32px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 32px;
            position: absolute;
            left: -2px;
          }
        }
        .view-header {
          .encabezado-ninos {
            font-weight: 500;
            color: #000;
            margin-bottom: 1rem;
            margin-top: 1rem;
          }
        }
        .views-row {
          margin-bottom: 0.5rem;

          .datos-nino {
            align-items: center;
            .resaltar {
              display: flex;
              align-items: center;
              gap: 8px;
              border-radius: 1rem;
              padding-right: 1rem;
              background: #ffe8e8;
              border-radius: 16px;
              color: #ff6669;
              font-weight: 700;
              font-size: 1rem;
              min-width: 140px;
              height: 24px;
              .avatar-nino {
                img {
                  width: 24px;
                  height: 24px;
                  object-fit: cover;
                }
              }

              &:nth-child(2n) {
                button {
                  background: #f5f8d8;
                  color: #869021;
                }
              }
            }
          }

          .incrementa-decrementa {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .numeros {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 1rem;
              background: var(--Agua-K500, #2ff7ee);
              cursor: pointer;
              font-size: 30px;
              height: 24px;
              width: 24px;
            }
            .total {
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
        .views-row:nth-child(2n) {
          .datos-nino {
            .resaltar {
              background: #f5f8d8;
              color: #869021;
            }
          }
        }
        .views-row:nth-child(3n) {
          .datos-nino {
            .resaltar {
              background: #f8e5de;
              color: #af654a;
            }
          }
        }
        .view-footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.2rem;
          max-width: 95%;
          padding-right: 1rem;
          border-radius: 0.5rem;
          background: var(--Grey-K100, #e6f1f1);
          padding-left: 1rem;
          font-weight: 500;
          align-items: center;

          .total-de-clases {
            font-weight: 700;
            font-size: 1.4rem;
          }
        }
      }

      .select-suscription {
        border-radius: 1.5rem;
        border: 2px solid var(--Grey-K100, #e6f1f1);
        padding: 1rem;
        margin-bottom: 1rem;

        > .form-item-suscription {
          > label {
            display: block;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 700;
            padding-left: 3rem;
            margin-bottom: 0.5rem;
            position: relative;
            display: flex;
            align-items: center;
            &:before {
              content: "";
              background-image: url("../images/Calendar.svg");
              height: 32px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              width: 32px;
              position: absolute;
              left: -2px;
            }
          }
          .form-radios {
            padding-left: 1rem;
            margin-top: 1rem;
            .form-type-radio {
              padding-bottom: 1rem;
              .form-radio[checked="checked"] {
                background-color: #ffe8e8 !important;
                border-color: #ff6669 !important;
                background-image: none !important;
                height: 18px;
                width: 18px;
                // &:after {
                //   content: "";
                //   width: 0.5rem;
                //   height: 0.5rem;
                //   background-color: #ff6669;
                //   position: absolute;
                //   border-radius: 10px;
                //   margin-top: 0.3rem;
                //   margin-left: 0.25rem;
                // }
              }
              .option {
                font-weight: 500;
                color: #000;
              }
            }
          }
        }
      }
    }

    .vista-derecha {
      border-radius: 1.5rem;
      border: 2px solid var(--Grey-K100, #e6f1f1);
      padding: 1rem;
      margin-bottom: 1rem;
      flex: 1 40%;

      .title-section {
        font-size: 1.2rem;
        font-weight: 700;
        padding-left: 3rem;
        margin-bottom: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
          content: "";
          background-image: url("../images/Calculator.svg");
          height: 32px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 32px;
          position: absolute;
          left: -2px;
        }
      }
      .valores {
        margin-top: 1rem;
        .texto {
          font-weight: 500;
          margin-bottom: 1rem;
        }
        .col-4 {
          font-weight: 700;
        }
      }
    }
  }

  .metdos-pago {
    flex-direction: column;
    max-width: 900px;
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
    margin-top: 1rem;

    .titulo {
      font-size: 1.25rem;
      font-weight: 700;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      &:before {
        content: "";
        background-image: url("../images/Money.svg");
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        margin-right: 1rem;
      }
    }

    div.imagen {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 24px;
    }

    .boton-comprar {
      text-align: center;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      a {
        display: flex;
        width: 13.5rem;
        padding: 0.75rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        border-radius: 2.5rem;
        border: 2px solid var(--Turq-K500, #297e88);
        background: var(--Agua-K500, #2ff7ee);

        &.disabled {
          border: 2px solid var(--Grey-K200, #becaca);
          background: var(--White, #fff);
          color: var(--Grey-K200, #becaca);
          font-weight: 700;
        }
      }
    }
  }

  //TABs
  .quicktabs-tabs.list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    > li {
      border: unset;
      background: unset;

      a {
        text-align: center;
        color: #000;
        text-decoration: none;
        background: unset;
        border: unset;
        border-bottom: 2px solid #e6f1f1;
        padding: 1rem 2rem 0.5rem 2rem;
        font-weight: 700;
      }

      &.active {
        a {
          color: #ff6669;
          border-bottom: 2px solid black;
          font-weight: 700;
        }
      }
    }
  }

  .quicktabs-main {
    .quicktabs-tabpage {
      border: unset;
      margin-top: 1rem;
      padding: 0.5em 0em 1em!important;
      .views-element-container{
        .view-commerce-user-orders{
          --bs-gutter-x: 0rem!important;
        }
      }
    }
  }

  .view-commerce-user-orders {
    .table-responsive {
      margin: 0 auto;
      margin-top: 1rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 0rem;
      border-right: 1px solid var(--Grey-K200, #becaca);
      border-left: 1px solid var(--Grey-K200, #becaca);
      border-top: 1px solid var(--Grey-K200, #becaca);
      table {
        margin-bottom: 0rem;
        thead {
          background-color: #e6f1f1;
          tr {
            th {
              font-weight: 500;
              color: #727f7f;
              padding: 1rem;
              border-right: 1px solid #becaca;
              &:last-child {
                border-right: none;
              }
              a {
                text-decoration: none;
                font-weight: 500;
                color: #727f7f;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              border-right: 1px solid #becaca;
              padding: 1rem;
              &:last-child {
                border-right: none;
              }
            }
            --bs-table-striped-bg: white;
            .views-field-order-number {
              a {
                font-weight: 700;
                color: #000;
              }
            }
            .views-field-placed {
              font-weight: 500;
              color: #000;
            }
            .views-field-state {
              --bs-table-accent-bg: #9ff8f4;
              color: #297e88;
              font-weight: 700;
            }
            .views-field-total-price__number {
              font-weight: 500;
              color: #000;
            }
            .views-field-entity-print-commerce-order {
              a {
                font-weight: 700;
                color: #000;
                &:hover{
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
  }
}

.path-suscripciones {
  .view-id-suscripciones {
    .view-header {
      .titulo {
        h2 {
          font-size: 1.25rem;
          font-weight: 700;
          margin-bottom: 0rem;
        }
      }
    }
  }
}

.boton-imprimir {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  .imprimir {
    display: flex;
    height: 3rem;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex: 1 0 0;
    border-radius: 1.75rem;
    border: 2px solid var(--Turq-K500, #297e88);
    background: var(--Agua-K500, #2ff7ee);
    text-align: center;
    text-decoration: none;
    color: black;
    max-width: 200px;

    &:hover {
      border-radius: 1.75rem;
      border: 2px solid var(--Turq-K500, #297e88);
      background: var(--White, #fff);
      color: var(--Turq-K600, #165f68);
    }
  }
}
