.path-profesor {
  // padding-top: 2.3rem;

  .front-profesor #block-koala-content .content {
    width: 100%;

    .layout__region--first {
      margin-bottom: 2rem;
      > h1:nth-child(1) {
        display: none;
      }

      .block-views-blockdetalle-profesor-block-1 {
        .content {
          div {
            //Cuadro perfil del profesor
            .view-detalle-profesor {
              width: 90%;
              margin: 0 auto;

              .perfil-general-profesor {
                padding-left: 0px;
                .views-field-nothing {
                  border-top: 2px solid $GreyK100;
                  padding: 1.5rem 1.5rem 1rem 1.5rem;
                  border-left: 2px solid $GreyK100;
                  border-right: 2px solid $GreyK100;
                  border-top-left-radius: 24px;
                  border-top-right-radius: 24px;

                  .field-content {
                    position: relative;

                    .cuadro-perfil-profesor {
                      .img-name {
                        .imagen {
                          width: 25%;

                          .image-style-responsive-img {
                            height: auto;
                            width: 5.5rem;
                            max-width: 90%;
                            border-radius: 150px;
                            border: 2px solid white;
                            box-shadow: 0px 0px 5px 0px rgb(187, 183, 183);
                          }
                        }

                        .nombre {
                          h4 {
                            font-size: 22px;
                            font-weight: 700;
                          }
                          .pais {
                            font-weight: 500;
                          }
                        }

                        .flotante {
                          position: absolute;
                          top: 0%;
                          left: 94%;
                        }
                      }

                      .col-12 h4 {
                        font-size: 22px;
                        font-weight: 700;
                        margin-top: 1rem;
                      }

                      .presentacion {
                        h6 {
                          display: none;
                        }

                        p {
                          font-weight: 500;
                        }
                      }

                      .email {
                        a {
                          color: black;
                          font-weight: bold;
                          margin-left: 0.5rem;
                          text-decoration: none;
                        }
                      }
                      .col-12:nth-child(2) {
                        display: none;
                      }
                    }

                    &:before {
                      content: "Mi perfil";
                      color: $GreyK500;
                      font-weight: 700;
                      font-size: 20px;
                      display: flex;
                      justify-content: center;
                    }
                  }
                }

                .views-field-field-tu-video- {
                  padding: 0rem 1.5rem 1.5rem 1.5rem;
                  border-left: 2px solid $GreyK100;
                  border-right: 2px solid $GreyK100;
                  border-bottom: 2px solid $GreyK100;
                  border-bottom-left-radius: 24px;
                  border-bottom-right-radius: 24px;
                  position: relative;

                  .views-label {
                    font-weight: 700;
                    font-size: 18px;
                    display: none;
                  }

                  .field-content {
                    .no-admin {
                      .field--name-thumbnail {
                        img {
                          max-width: 65%;
                          height: auto;
                          border-radius: 16px;
                          margin: 0;
                        }
                      }

                      .video-popup {
                        div {
                          a {
                            .texto-enlace-video {
                              color: #297e88;
                              font-weight: 700;
                            }
                          }
                        }

                        a.myButton {
                          position: absolute;
                          top: 0;
                          display: block;
                          width: 60%;
                          height: 84%;
                          opacity: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .layout__region--second {
      .views-element-container {
        // width        : 58%;
        border: 2px solid #e6f1f1;
        border-radius: 24px;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        max-width: 95%;

        h2 {
          color: #727f7f;
          font-weight: 700;
          font-size: 1.25rem;
          text-align: center;
        }

        .content {
          margin-top: 1.5rem;

          .view-tu-metodo-de-pago {
            border-radius: 0.5rem;
            background: var(--Grey-K100, #E6F1F1);
            display: flex;
            padding: 1rem 1.5rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            align-self: stretch;
            margin-top: 1rem;

            .view-content.row {
              border-radius: 1rem;
              background: var(--White, #FFF);
              display: flex;
              padding: 0.5rem 1rem;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;
              max-width: 100%;
              margin: 0;
              color: black;

              .views-label-field-cuentas-virtuales {
                font-size: 0.75rem;
                font-weight: 700;
              }
              .field-content {
                font-weight: 700;
                font-size: 1rem;
              }
            }

            .view-footer {
              a {
                display: flex;
                padding: 0.3rem 1rem;
                align-items: flex-start;
                gap: 0.625rem;
                border-radius: 2rem;
                border: 2px solid var(--Turq-K500, #297E88);
                background: var(--White, #FFF);
                color: var(--Black, #000);
                text-align: center;
                text-decoration: none;
                font-weight: 700;
                &:hover{
                  background-color: #297E88;
                  color: white;
                }
              }
            }
          }

          .view-clases-gratuitas-profesores {
            .view-content {
              width: 100%;
              margin: 0 auto;
              .views-row {
                border-radius: 30px;
                background-color: #f8e5de;
                padding: 1px 3px;
                margin-bottom: 1rem;
                height: 57px;

                .koala {
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;
                  padding-top: 0.2rem;
                  padding-bottom: 0.2rem;
                  justify-content: space-around;

                  .imagen {
                    max-width: 45px;

                    img {
                      max-width: 100%;
                      height: auto;
                    }
                  }

                  .nombre-fecha {
                    .nombre {
                      font-weight: 700;
                    }
                    .fecha {
                      time {
                        font-weight: 500;
                      }
                    }
                  }

                  .enlace {
                    display: flex;
                    padding: 8px 16px;
                    border-radius: 32px;
                    border: 2px solid var(--turq-k-500, #297e88);
                    background: var(--white, #fff);
                    height: 38px;
                    width: 79px;
                    align-items: center;
                    justify-content: center;

                    a {
                      color: black;
                      text-decoration: none;
                      font-weight: 700;
                    }
                    &:hover {
                      background-color: #297e88;
                      a {
                        color: white;
                      }
                    }
                  }
                }

                .views-field-field-nombre-del-nino-a {
                  .field-content {
                    font-weight: 700;
                  }
                }

                .views-field-title {
                  display: none;
                }

                .views-field-field-fecha-de-la-cita {
                  font-weight: 500;
                  margin-top: 0.3rem;
                }

                .views-field-field-fecha-cita-oculta {
                  display: none;
                }
              }

              .views-row:nth-child(2n) {
                background-color: $GreenK100;
              }

              .views-row:nth-child(3n) {
                background-color: $RedK100;
              }
            }

            .view-footer {
              .ver-todos-koalas {
                text-align: right;
                margin-top: 0.5rem;
                a {
                  color: #297e88;
                  font-weight: 700;
                  font-size: 1.25rem;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline 1px;
                  }
                  &:after {
                    content: "\f054";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    float: right;
                    margin-left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .layout__region--third {
      .views-element-container {
        border: 2px solid #e6f1f1;
        border-radius: 24px;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        max-width: 100%;

        .view-header {
          .titulo-vista {
            color: #727f7f;
            font-weight: 700;
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 1rem;
          }

          .descripcion-vista {
            text-align: center;
            margin-bottom: 1rem;
            font-weight: 500;
          }
        }

        .view-content.row {
          margin: 0px;
          margin-top: 1.8rem;
          .view-grouping {
            padding: 0px;
            .view-grouping-header {
              display: none;
            }

            .view-grouping-content {
              > h3 {
                display: none;
              }

              .views-row {
                display: none;
                margin-right: 0;

                &:nth-of-type(1) {
                  display: flex;
                }

                .views-field-nothing {
                  .koalas-profes {
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin-bottom: 1.8rem;
                    position: relative;

                    .imagen {
                      max-width: 32px;
                      flex: 0 25%;

                      img {
                        max-width: 100%;
                        height: auto;
                      }
                    }

                    .nombre-koala {
                      text-decoration-line: underline;
                      margin-left: 1rem;
                      cursor: pointer;
                      font-weight: 700;
                      color: black;
                      a {
                        color: black;
                        font-weight: 700;
                      }
                      &:hover{
                        opacity: 0.7;
                      }
                    }
                    &:after {
                      content: "\f054";
                      font-family: "Font Awesome 5 Free";
                      font-weight: 900;
                      position: absolute;
                      left: 95%;
                      margin-left: 1rem;
                    }
                  }
                }
              }
            }
          }
        }

        .view-footer {
          .ver-todos-koalas {
            text-align: right;

            a {
              color: #297e88;
              font-weight: 700;
              font-size: 1.25rem;
              text-decoration: none;
              &:hover {
                text-decoration: underline 1px;
              }
              &:after {
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                float: right;
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .front-profesor {
    #main-wrapper {
      min-height: 75vh;
    }
  }
}

.field--type-entity-reference.field--name-field-avatar {
  .fieldset-wrapper {
    #edit-field-avatar {
      .js-form-type-radio.form-item-field-avatar {
        > input {
          margin-left: 0.1rem;
        }

        span.views-field.views-field-name {
          display: none;
        }

        img {
          max-width: 80%;
          height: auto;
          border-radius: 50%;
          margin-top: 1rem;
          object-fit: cover;
          object-position: center;
          padding: 0.5rem;
          border: 1px solid;
        }
      }
    }
  }
}

.smartdate--widget .byday-checkboxes input {
  display: unset;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
  top: 5rem !important;
  z-index: 20000 !important;

  #drupal-modal {
    max-height: 500px !important;
  }
}

@media (min-width: 300px) and (max-width: 760px){
  .path-profesor {
    .front-profesor{
      #block-koala-content {
        .content {
          .layout--threecol-section{
            .layout__region--first {
              flex: 0 1 100%;
              margin-bottom: 0rem!important;
              .block-views-blockdetalle-profesor-block-1 {
                .content{
                  .view-detalle-profesor{
                    width: 100%!important;
                    .perfil-general-profesor{
                      padding-left: calc(var(--bs-gutter-x) * .5)!important;
                      .views-field-field-tu-video-{
                        padding: 0rem 1rem 1rem 1rem!important;
                      }
                      .views-field-nothing {
                        padding: 1.5rem 1rem 1rem 1rem!important;
                        .field-content {
                          .cuadro-perfil-profesor{
                            .img-name {
                              .imagen{
                                width: 32.5%!important;
                                .image-style-responsive-img{
                                  width: 80px!important;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .layout__region--second{
              flex: 0 1 100%;
              width: 100%;
              .block-views-blockclases-gratuitas-profesores-block-1{
                padding: 1.5rem 0.5rem 1rem 0.5rem!important;
              }
              .block-views-blocktu-metodo-de-pago-block-1{
                padding: 1.5rem 1rem 1rem 1rem!important;
              }
              .views-element-container{
                max-width: unset!important;
                margin-top: 1rem!important;
                .content{
                  .view-clases-gratuitas-profesores{
                    .view-footer{
                      .ver-todos-koalas{
                        text-align: end!important;
                        a{
                          &:after{
                            float: none!important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .layout__region--third{
              flex: 0 1 100%;
              .views-element-container{
                margin-top: 1rem!important;
                padding: 1.5rem 1rem 1rem 1rem!important;
                .view-content.row .view-grouping .view-grouping-content
                .views-row .views-field-nothing .koalas-profes{
                  &:after{
                    left: 99%!important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 761px) and (max-width: 1200px){
  .path-profesor {
    .front-profesor{
      #block-koala-content {
        .content {
          .layout--threecol-section{
            .layout__region--first {
              flex: 0 1 46%;
              margin-bottom: 0rem!important;
              .block-views-blockdetalle-profesor-block-1 .content div .view-detalle-profesor {
                width: 95%!important;
              }
            }
            .layout__region--second{
              flex: 0 1 54%!important;
              .views-element-container{
                max-width: 100%!important;
              }
            }
            .layout__region--third{
              flex: 0 1 100%;
            }
          }
        }
      }
    }
  }
}

.current_language-en {
  .view-detalle-profesor .perfil-general-profesor .views-field-nothing .field-content:before {
    content: "My profile" !important;
  }
}