.path-profesor {
  .view-mis-koalas-profesores {
    .view-header {
      .titulo {
        margin-bottom: 1rem !important;
        h3 {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    #views-bootstrap-tab-views-bootstrap-mis-koalas-profesores-block-2 {
      .nav-tabs {
        border-bottom: 2px solid #e6f1f1;
        width: 100%;
        margin-bottom: -3rem;
        overflow-x: auto;
        overflow-y: clip;
        display: flex;
        flex-wrap: nowrap;

        .nav-item.mostrar {
          text-wrap: nowrap;
          margin-right: 0.5rem;
          a {
            border: none;
            background: #ffe8e8;
            border-radius: 16px;
            color: #ff6669;
            font-weight: 700;
            font-size: 16px;
            min-width: 140px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            text-wrap: nowrap;
            padding: 0.5rem 0.5rem 0.5rem 0rem;
            position: relative;
            &:before {
              content: "";
              display: block;
              width: 24px;
              height: 24px;
              border-radius: 200px;
              margin-right: 0.5rem;
              background-image: url("/themes/custom/koala/images/Avatar1.jpg");
            }
            &.active {
              &:after {
                border-bottom: 2px solid black;
                content: "";
                top: 38px;
                width: 100%;
                position: absolute;
              }
            }
          }
          &:nth-child(2n) {
            a {
              background: #f5f8d8;
              color: #869021;
              &:before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 200px;
                margin-right: 0.5rem;
                background-image: url("/themes/custom/koala/images/Avatar2.jpg");
              }
            }
          }

          &:nth-child(3n) {
            a {
              background: #f8e5de;
              color: #af654a;
              &:before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 200px;
                margin-right: 0.5rem;
                background-image: url("/themes/custom/koala/images/Avatar3.jpg");
              }
            }
          }
        }
      }
      .nav-tabs::-webkit-scrollbar {
        width: 5px;
        height: 3px;
      }
      .nav-tabs::-webkit-scrollbar-thumb {
        background-color: grey;
      }
      .tab-content {
        .tab-pane {
          background-color: #e6f1f1;
        }
      }
    }

    // Acordeon de logros
    .view-id-logros_taxonomia.view-display-id-block_1 {
      .view-content.row {
        // border-radius: 1.5rem;
        // background   : var(--Grey-K100, #e6f1f1);
        padding: 1rem 3rem 2rem 3rem;
        margin-bottom: 3rem;
        margin-left: 0rem;

        .texto-logros {
          margin-top: 1rem;
          margin-bottom: 2rem;
          color: #000;
          font-family: Nunito;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .item-list-accordeon {
        margin-bottom: 0.5rem;
        border-radius: 1rem;
        background: var(--White, #fff);
        padding: 1rem;

        > h3 {
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 0rem;
          cursor: pointer;
          display: block;
          position: relative;
          color: black;

          &:before {
            content: "+";
            color: black;
            position: absolute;
            top: 50%;
            right: -5px;
            font-size: 30px;
            transform: translateY(-50%);
          }
        }

        ul.listado-de-logros {
          display: none;
          //display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 1rem;
          list-style-type: none;
          padding: 0;
          //crear transicion para que se despliegue
          transition: 0.5s;

          li {
            display: flex;
            align-items: center;
            border-radius: 1rem;
            padding: 0.5rem 1rem 0.5rem 2rem;
            background: white;

            a {
              font-size: 0.8rem;
              font-style: normal;
              font-weight: 700;
              color: var(--Grey-K500, #727f7f);
              text-decoration: none;
              pointer-events: none;
              position: relative;
              line-height: 1.2;
              display: block;

              //Agregar ☆	antes del enlace
              &:before {
                content: "";
                background-image: url("../images/icon-star-disable.svg");
                margin-right: 0.5rem;
                width: 19px;
                height: 19px;
                position: absolute;
                left: -24px;
                font-weight: 300;
                top: -4px;
              }
            }

            &.habilitado {
              background: var(--Red-K100, #ffe8e8);

              a {
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 700;
                color: black;
                text-decoration: none;
                pointer-events: none;
                position: relative;
                line-height: 1.2;
                display: block;

                //Agregar ☆	antes del enlace
                &:before {
                  content: "";
                  background-image: url("../images/icon-start.svg");
                  margin-right: 0.5rem;
                  width: 19px;
                  height: 19px;
                  position: absolute;
                  left: -24px;
                  color: white;
                  top: -4px;
                }
              }
            }
          }

          // Seleccionar cada 3 elementos
          li:nth-child(2n) {
            &.habilitado {
              background: var(--Yellow-K100, #fff0cc);
            }
          }

          li:nth-child(4n) {
            &.habilitado {
              background: var(--Turq-K100, #d7eff2);
            }
          }
        }

        &.activa {
          > h3 {
            margin-bottom: 0.8rem;

            &:before {
              content: "-";
            }
          }

          ul.listado-de-logros {
            display: grid;
            // Transicion para que se despliegue
          }
        }
      }
    }

    .vistas-tabs {
      .col-izquierda {
        .views-element-container {
          width: 100%;

          > .view {
            display: flex;
            max-width: 100%;
            margin-top: 2rem;
            padding-left: 1rem;

            .view-content.row {
              margin: 0;
              width: 100%;

              .views-row {
                margin: 0;
                width: 100%;
                padding: 0;

                > .views-field {
                  display: block;
                  width: 100%;

                  .presentacion {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    width: 100%;
                    gap: 8px;

                    > * {
                      display: flex;
                      max-width: 100%;
                    }

                    > p {
                      word-break: break-all;
                      background: #e6f1f1;
                      font-size: 0.9rem;
                      margin: 0;
                      padding: 0.2rem;
                      display: none;
                    }
                  }

                  .cuadro-proxima {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    background: white;
                    padding: 12px;
                    border-radius: 15px;
                    gap: 8px;

                    > h3 {
                      font-size: 1.2rem;
                      text-align: center;
                      font-weight: 700;
                    }

                    .codigo-clase {
                      flex-direction: row;
                      gap: 1rem;
                      background: #e6f1f1;
                      padding: 0.5rem;
                      border-radius: 15px;
                      font-size: 0.9rem;
                      line-height: 1.2;
                      font-weight: 700;
                      align-items: center;

                      .codigo {
                        background: white;
                        padding: 0.3rem 1.3rem;
                        color: #297e88;
                        font-size: 1rem;
                        border-radius: 25px;
                      }
                    }
                    > div {
                      display: flex;
                      flex-direction: column;
                      gap: 4px;
                      margin-bottom: 1rem;
                      max-width: 100%;
                      > span {
                        font-weight: 700;
                        font-size: 0.9rem;
                      }
                       a {
                        display: block;
                        word-break: break-all;
                        max-width: 100%;
                        font-size: 0.8rem;
                        color: #297e88;
                        font-weight: 700;
                      }

                      .list-group-item {
                        border: unset;

                        p {
                          word-break: break-all;
                          background: #e6f1f1;
                          font-size: 0.9rem;
                          margin: 0;
                          padding: 0.2rem;
                          margin-bottom: 8px;
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // Resumen de la clase.
    .view-resumen-de-clases {
      .no-mostrar {
        display: none;
      }

      // si .resumen-clase no contiene la clase .mostrar, ocultar
      // .resumen-clase:not(.mostrar) {
      //   display: none;
      // }

      .resumen-clase {
        border-radius: 1.5rem;
        border: 2px solid var(--Grey-K100, #e6f1f1);
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        margin-bottom: 1rem;

        .header {
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          order: 3;
          // margin-top: -2rem;

          div:nth-child(1) {
            // color: #000;
            // font-family: Nunito;
            // font-size: 1rem;
            // font-style: normal;
            // font-weight: 700;
            // line-height: normal;
            display: none;
          }

          div:nth-child(2) {
            color: var(--Grey-K500, #727f7f);
            font-family: Nunito;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        .resumen-video {
          display: none;
          img {
            max-width: 100%;
            height: auto;
          }
        }

        .profesor-clase {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          flex-wrap: nowrap;
          background-color: white;
          border-radius: 32px;

          .avatar {
            margin-right: 0.5rem;

            img {
              border-radius: 8.25963rem;
              background: url(<path-to-image>), lightgray 50% / cover no-repeat;
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }

          .nombre {
            color: var(--Black, #000);
            font-family: Nunito;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
        @media (min-width: 1200px){
          .comentarios-profesor,
          .observaciones-profesor {
            color: var(--Black, #000);
            font-family: Nunito;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            margin-bottom: -0.7rem;
            line-height: 22px;
            min-width: 130%;
            .titulo {
              h4 {
                font-size: 16px;
                font-weight: 700;
              }
            }
            .comentario {
              font-family: 500;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .path-profesor {
    .view-mis-koalas-profesores {
      .col-md-3{
        order: 2;
        margin-top: -3rem;
        width: 100%!important;
      }
      .col-md-9 {
        width: 100%!important;
        order: 1;
        .views-element-container {
          .view-id-logros_taxonomia.view-display-id-block_1 {
            .view-content.row {
              padding: 0rem 1rem 2rem 1rem !important;
              margin-right: 0rem !important;
            }
            .item-list-accordeon {
              ul.listado-de-logros {
                grid-template-columns: 1fr !important;
              }
            }
          }
        }
      }
    }
  }
}
