.video-popup {
  .micromodal-slide {
    .modal__overlay {
      background-color: black !important;
      .modal__container {
        .modal__btn {
          background-color: #ff9294;
          width: 2.5rem !important;
          height: 2.5rem !important;
          opacity: 1;
          font-size: 30px;
          font-weight: 700;
          text-decoration: none;
          position: absolute;
          right: -56px;
          top: 17px;
          border-radius: 0px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
.path-facturacion {
  .section {
    #block-koala-content {
      .tab-content {
        #nav-profile {
          .view-resumen-de-pagos {
            .table-responsive {
              margin-bottom: 3rem !important;
              margin: 0 auto;
              margin-top: 1rem;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              padding: 0rem;
              border-right: 1px solid var(--Grey-K200, #becaca);
              border-left: 1px solid var(--Grey-K200, #becaca);
              border-top: 1px solid var(--Grey-K200, #becaca);
              table {
                margin-bottom: 0rem;
                thead {
                  background-color: #e6f1f1;
                  tr {
                    vertical-align: middle;
                    th {
                      font-weight: 500;
                      color: #727f7f;
                      padding: 1rem;
                      border-right: 1px solid #becaca;
                      line-height: 18px;
                    }
                    #view-field-fecha-de-la-clase-table-column {
                      width: 16%;
                    }
                    .views-field-field-sube-o-arrastra-tu-factura {
                      width: 14%;
                    }
                  }
                }
                tbody {
                  tr {
                    --bs-table-striped-bg: white;
                    td {
                      border-right: 1px solid #becaca;
                      padding: 1rem 0.5rem;
                      vertical-align: middle;
                    }
                    .views-field-field-estado-de-la-factura {
                      --bs-table-accent-bg: #ffe8e8;
                      color: #ff6669;
                      font-weight: 700;
                    }
                    .views-field-field-sube-o-arrastra-tu-factura {
                      a {
                        padding-left: 0px;
                        font-weight: 700;
                        color: black;
                      }
                    }
                    .views-field-field-escribe-el-numero-de-tu-fa {
                      font-weight: 700;
                      color: #000;
                      text-decoration: underline;
                      padding-left: 1rem;
                    }
                    .views-field-field-fecha-de-la-clase,
                    .views-field-title,
                    .views-field-field-clases-impartidas,
                    .views-field-field-inasistencias-del-estudian,
                    .views-field-field-inasistencias-del-profesor {
                      font-weight: 500;
                      color: black;
                    }
                    .views-field-field-clases-impartidas,
                    .views-field-field-inasistencias-del-estudian,
                    .views-field-field-inasistencias-del-profesor {
                      padding-left: 1rem;
                    }
                    .views-field-field-cuentas-virtuales {
                      color: black;
                      .double-field-first {
                        font-weight: 700;
                      }
                      .double-field-second {
                        text-decoration: underline;
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .block-views-blockfacturacion-profesor-block-1 {
        h2 {
          text-align: center;
          font-size: 20px !important;
          font-weight: 700;
        }
        .content {
          .nav-tabs {
            border-bottom: 2px solid #e6f1f1;
            width: 45%;
            margin: 0 auto;
            margin-bottom: 2rem;
            .nav-link {
              font-weight: 500;
              color: black;
              border: none;
              width: 33%;
            }
            .nav-link.active {
              color: #ff6669;
              border-bottom: 2px solid black;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .vista-facturacion-formulario {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    > .izquierda {
      width: 39%;
    }
    .derecha {
      .form-actions {
        position: absolute;
        width: 15%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 630px;
        .button--primary {
          font-size: 20px;
          font-weight: 700;
          padding: 0.5rem 2rem;
          &:hover {
            background-color: #297e88 !important;
            color: white !important;
          }
        }
      }
    }
  }

  .view-facturacion-profesor {
    .izquierda {
      max-width: 100%;
      flex: 0 100%;
      display: flex;
      padding: 1rem;
      flex-direction: column;
      gap: 1rem;
      border-radius: 1.5rem;
      background: var(--Grey-K100, #e6f1f1);

      .view-header {
        text-align: center;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: black;
        font-weight: 700;
      }

      .view-filters {
        .views-exposed-form {
          > div {
            width: 100%;
            display: flex;
            justify-content: center;

            > .form-type-select {
              width: 100%;
              margin-bottom: 0 !important;

              label {
                display: none;
              }

              select {
                border-radius: 1rem;
                border: 2px solid var(--White, #fff);
                background-color: #ffe8e8;
                box-shadow: 0px 10px 80px 0px rgba(74, 74, 74, 0.02),
                  0px 5px 20px 0px rgba(74, 74, 74, 0.08),
                  0px 2px 10px 0px rgba(67, 67, 67, 0.15);

                //Fuente
                color: #000;
                text-align: center;
                font-family: Nunito;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.6875rem;
                option {
                  background-color: #ffe8e8;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }

      .view-content.row {
        display: none;
      }

      .view-footer {
        .reporte-clases {
          .imagen {
            display: none;
          }

          .reporte {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 0.5rem;

            .cuadro {
              display: flex;
              padding: 0.25rem 0.5rem;
              align-items: center;
              align-self: stretch;
              border-radius: 0.5rem;
              background: var(--White, #fff);
              justify-content: space-between;
              color: #000;

              .texto {
                font-size: 1rem;
                font-weight: 500;
              }

              .valor {
                font-size: 1.5rem;
                font-weight: 700;
              }
            }

            .cuadro2 {
              display: flex;
              padding: 0.25rem 0.5rem;
              justify-content: space-between;
              font-size: 1rem;
              font-weight: 500;
              color: black;
            }
          }
        }
      }
    }
    .derecha {
      max-width: 70%;
      flex: 0 70%;
    }
  }

  div[id^="edit-actions"] {
    text-align: center;

    button {
      border-radius: 2.5rem;
      border: 2px solid var(--Turq-K500, #297e88) !important;
      background: var(--Agua-K500, #2ff7ee) !important;
      color: black !important;
    }
  }

  //Formulario
  //.formulario-facturacion {
  .div-formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2rem;
    fieldset:nth-child(1) {
      margin-left: 1.5rem;
      width: 80%;
    }
    fieldset.field-group-fieldset {
      > legend {
        display: none;
      }
    }

    input,
    select {
      border-radius: 2rem;
      border: 2px solid var(--Grey-K200, #becaca);
      background-color: var(--White, #fff);
    }

    .field--name-title,
    .field--name-field-asignar-profesor,
    .field--name-field-mes-de-la-clase,
    .field--name-field-fecha-de-la-clase,
    .field--name-field-estado-de-la-factura {
      display: none;
    }

    label {
      font-size: 1rem;
      color: black;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .doble-columna {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      justify-content: space-between;
      pointer-events: none;
      .dos-columnas-izquierda {
        label {
          width: 120%;
        }
      }
      label {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;

        &::after {
          display: none;
        }
      }

      .separator {
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding-top: 1rem;
      }

      input {
        pointer-events: none;
      }
      .dos-columnas-izquierda {
        input {
          font-weight: 500;
        }
      }
      .dos-columnas-derecha {
        input {
          font-weight: 700;
        }
      }
    }
    .field--name-field-horas-a-pagar {
      .js-form-item {
        input {
          font-weight: 700;
        }
      }
    }
    .field--name-field-escribe-el-numero-de-tu-fa {
      .js-form-item {
        input {
          font-weight: 700;
        }
      }
    }
    .field--name-field-metodo-de-pago {
      background-color: #e6f1f1;
      border-radius: 8px;
      padding: 1.5rem;
      .form-select {
        font-weight: 700;
        height: 84px;
        border-radius: 16px;
        border: none;
        option {
          background-color: white;
          font-weight: 700;
          color: black;
        }
      }
    }
    .form-type-managed-file {
      .js-form-managed-file {
        input {
          background: #d8fffd;
          border: 2px dashed #297e88;
          border-radius: 32px;
          margin-bottom: 0.5rem;
          font-weight: 500;
        }
        span {
          padding-left: 0rem;
          margin-bottom: 1rem;
          a {
            color: #297e88;
            font-weight: 500;
          }
        }
        .js-hide {
          display: none;
        }
        button {
          background: #ffffff;
          border: 2px solid #297e88;
          border-radius: 32px;
          width: 140px;
          height: 45px;
          padding: 12px 16px;
          color: #000000;
          font-weight: 700;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: $TurqK500;
            color: white;
          }
        }
      }
    }
  }
  div[input^="edit-field-total-horas-a-pagar-0-value"],
  .js-form-item-field-total-horas-a-pagar-0-value {
    pointer-events: none;
  }
  //}
}

// Metodos de pago profesores
.node--type-metodos-de-pago {
  #block-koala-content {
    .node-metodos-de-pago-edit-form {
      .layout-region-node-main {
        .layout__region {
          .field--name-field-cuentas-virtuales {
            .table-responsive {
              .tabledrag-toggle-weight-wrapper {
                display: none;
              }
              .field-multiple-table {
                thead {
                  tr {
                    th {
                      border: none;
                      .label {
                        display: flex;
                        align-items: center;
                        margin-top: 2rem;
                        font-size: 20px;
                        font-weight: 700;
                        justify-content: center;
                        &:before {
                          content: "";
                          background-image: url("../images/Money.svg");
                          height: 32px;
                          background-size: contain;
                          background-repeat: no-repeat;
                          background-position: center;
                          width: 32px;
                          display: inline-block;
                          margin-right: 0.5rem;
                        }
                      }
                    }
                  }
                }
                tbody {
                  .draggable {
                    .field-multiple-drag {
                      display: none;
                    }
                    .has-multiple-fields-remove-button {
                      --bs-table-accent-bg: white !important;
                      .js-form-item {
                        .js-form-wrapper {
                          .js-form-item {
                            label {
                              font-weight: 500;
                              color: black;
                              margin-bottom: 0.5rem;
                            }
                            select,
                            input {
                              color: black;
                              border: 2px solid #becaca;
                              border-radius: 32px;
                              height: 3rem;
                              font-weight: 600;
                              option {
                                color: black;
                                font-weight: 600;
                                background-color: white;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .even {
                    border-top: 2px solid #becaca;
                  }
                }
              }
            }
          }
        }
      }
      .layout-region-node-footer {
        .form-actions {
          display: flex;
          justify-content: center;
          .button {
            border-radius: 2.5rem;
            border: 2px solid var(--Turq-K500, #297e88);
            background: var(--Agua-K500, #2ff7ee);
            color: black;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 2rem;
            &:hover {
              background-color: #297e88;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .path-facturacion {
    .section {
      #block-koala-content {
        .tab-content {
          #nav-profile {
            .view-resumen-de-pagos {
              .table-responsive {
                table {
                  tbody {
                    tr {
                      .views-field-title {
                        min-width: 145px !important;
                      }
                      .views-field-field-fecha-de-la-clase {
                        min-width: 197px !important;
                      }
                      .views-field-field-sube-o-arrastra-tu-factura {
                        min-width: 200px !important;
                      }
                      .views-field-field-escribe-el-numero-de-tu-fa{
                        min-width: 120px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .block-views-blockfacturacion-profesor-block-1 {
          .content {
            .nav-tabs {
              width: 100% !important;
              .nav-link {
                font-size: 15px !important;
              }
            }
          }
        }
      }
    }
    .vista-facturacion-formulario {
      display: block !important;
      .izquierda {
        width: 100% !important;
        margin-bottom: 2rem;
        .view-filters {
          .views-exposed-form {
            .form-actions {
              .js-hide {
                display: none !important;
              }
            }
          }
        }
      }
      .derecha {
        .form-actions {
          position: initial !important;
          width: 90vw;
          button {
            padding: 0rem 3rem !important;
          }
        }
      }
    }
    .div-formulario {
      display: block !important;
      width: 90vw;
      fieldset:nth-child(1) {
        margin-left: 0rem !important;
        width: 100% !important;
      }
      .doble-columna {
        .dos-columnas-izquierda {
          label {
            width: 145% !important;
          }
        }
        label {
          font-size: 15px !important;
        }
        .dos-columnas-derecha {
          label {
            margin-left: 1rem;
          }
        }
      }
      label {
        font-size: 15px !important;
      }
    }
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .path-facturacion {
    .vista-facturacion-formulario {
      flex-direction: column;
      .izquierda {
        width: 98%;
        margin: 0 auto;
      }
      .derecha {
        width: 100%;
      }
    }
    .section {
      #block-koala-content {
        .tab-content {
          #nav-profile {
            .view-resumen-de-pagos {
              .table-responsive {
                table {
                  tbody {
                    tr {
                      .views-field-title {
                        min-width: 145px !important;
                      }
                      .views-field-field-fecha-de-la-clase {
                        min-width: 197px !important;
                      }
                      .views-field-field-sube-o-arrastra-tu-factura {
                        min-width: 200px !important;
                      }
                      .views-field-field-escribe-el-numero-de-tu-fa{
                        min-width: 120px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .block-views-blockfacturacion-profesor-block-1 {
          .content {
            .nav-tabs {
              width: 48% !important;
            }
          }
        }
      }
    }
    .vista-facturacion-formulario {
      .derecha {
        .form-actions {
          position: initial !important;
          width: 90vw;
        }
      }
    }
  }
}
