@media (min-width: 768px) {
  .block-views-blockclases-gratuitas-block-proximas-clases {
    .content {
      .view-display-id-block_proximas_clases {
        .view-content {
          margin-right: -6px;
          .views-row {
            .views-field {
              .clases-proximas {
                .dato-del-nino {
                  width: 55% !important;
                }
                .datos-clase {
                  width: 45% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) and (min-width: 300px) {
  .block-views-blockclases-gratuitas-block-proximas-clases {
    .content {
      .view-clases-gratuitas{
        .view-content {
          margin-right: -7px!important;
          .views-row {
            .views-field {
              .clases-proximas {
                .dato-del-nino {
                  border-radius: 32px!important;
                  height: 56px;
                  .imagen {
                    max-width: 17%!important;
                    img {
                      height: 40px!important;
                      width: 40px!important;
                    }
                  }
                  .datos{
                    width: 76%;
                    .fecha-nac{
                      display: none;
                    }
                  }
                }
                .datos-clase {
                  padding: 0px!important;
                  .titulo{
                    margin: 1rem 0rem 0.5rem 0rem;
                  }
                  .datos-fecha{
                    margin-left: -6px;
                    margin-right: -6px;
                  }
                }
              }
            }
          }
        }
        .view-footer{
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
//Vista Proximas Clases
.block-views-blockclases-gratuitas-block-proximas-clases {
  padding-left: 1rem;
  padding-right: 1rem;

  > h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 3px;
  }

  > .content {
    margin-top: 1.6rem;

    .view-display-id-block_proximas_clases {
      .view-content::-webkit-scrollbar {
        width: 6px;
        color: black;
      }
      .view-content {
        margin: 0;
        overflow-y: scroll;
        max-height: 505px;

        .views-row:nth-child(2n) {
          background: $AlgaK100;
        }

        .views-row {
          border: 1px solid #e6f1f1;
          border-radius: 24px;
          padding: 1rem;
          background: #e6f1f1;
          margin-bottom: 1.5rem;

          .views-field {
            .clases-proximas {
              padding-left: 1rem;
              padding-right: 1rem;

              .dato-del-nino {
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                background: white;
                border-radius: 16px;
                padding: 0.5rem;

                .imagen {
                  max-width: 30%;
                  width: 30%;
                  text-align: center;

                  img {
                    height: 80px;
                    width: 80px;
                    object-fit: cover;
                    border-radius: 200px;
                  }
                }
                .datos {
                  font-weight: 700;
                  font-size: 20px;
                  text-align: center;
                  margin-left: 0.5rem;
                  .fecha-nac {
                    font-weight: 500;
                    font-size: 16px;
                    margin-top: 0.5rem;
                  }
                }
              }

              .datos-clase {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                padding-right: 0px;

                .titulo {
                  margin-bottom: 0.1rem;
                  font-weight: 500;
                  color: black;
                }

                .datos-fecha {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  align-items: center;
                  font-size: 24px;
                  font-weight: 700;
                  margin-bottom: 0.7rem;
                  text-align: center;
                }

                .boton {
                  text-align: center;

                  a {
                    width: 230px;
                    height: 51px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 32px;
                    font-size: 1.25rem;
                    text-decoration: none;
                    color: black;
                    border: 2px solid #297e88;
                    font-weight: 700;
                    background-color: #2ff7ee;
                    &:hover {
                      background-color: #297e88;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .view-footer {
        a {
          color: #297e88;
          font-size: 20px;
          font-weight: 700;
          text-decoration: none;
          padding-right: 1.7rem;
          margin-top: 1rem;
          display: block;
          position: relative;
          &:hover {
            text-decoration: underline;
          }

          &::after {
            display: block;
            top: 50%;
            left: 99%;
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 1.25rem;
            font-weight: 600;
            position: absolute;
            content: "\f285";
            font-family: "bootstrap-icons";
          }
        }
      }
    }
  }
}
