#change-password-modal {
  font-family: 'Nunito';
}

#change-password-modal .button {
  display: block;
  text-align: center;
  border: 2px solid #BECACA;
  background: #E6F1F1;
  max-width: max-content;
  margin: 0 auto;
  transition: all 0.3s ease;
  font-weight: 700;
}

#change-password-modal .button:hover {
  background: #BECACA !important;
  box-shadow: 1px 1px 10px 1px #BECACA !important;
}

#change-password-modal .button:focus-visible {
  outline: none;
  box-shadow: 1px 1px 10px 1px #BECACA !important;
}

div[aria-describedby="change-password-modal"]{
  background: white !important;
  max-width: 90% !important;
  border-radius: 24px !important;
  font-family: 'Nunito' !important;
}

div[aria-describedby="change-password-modal"] > .ui-dialog-titlebar {
  background: white !important;
  margin: 0 !important;
}

div[aria-describedby="change-password-modal"] #change-password-modal {
  margin: 0.6rem 0.5rem !important;
  text-align: center !important;
}

div[aria-describedby="change-password-modal"] #change-password-modal img {
  margin-bottom: 1rem !important;
}
div[aria-describedby="change-password-modal"] #change-password-modal p {
  font-weight: 500 !important;
}

div[aria-describedby="change-password-modal"] #change-password-modal p.bienvenida {
  font-weight: 700 !important;
}


