#change-password-modal {
  font-family: 'Nunito';
}

#change-password-modal .button {
  display: block;
  text-align: center;
  border: 2px solid #BECACA;
  background: #E6F1F1;
  max-width: max-content;
  margin: 0 auto;
  transition: all 0.3s ease;
}

#change-password-modal .button:hover {
  background: #BECACA;
  box-shadow: 1px 1px 10px 1px #BECACA;
}

div[aria-describedby="change-password-modal"]{
  background: white;
  max-width: 90%;
  border-radius: 24px;
  font-family: 'Nunito';
}

div[aria-describedby="change-password-modal"] > .ui-dialog-titlebar {
  background: white;
  margin: 0;
}

div[aria-describedby="change-password-modal"] #change-password-modal {
  margin: 0.6rem 0.5rem;
  text-align: center;
}

div[aria-describedby="change-password-modal"] #change-password-modal img {
  margin-bottom: 1rem;
}
div[aria-describedby="change-password-modal"] #change-password-modal p {
  font-weight: 500;
}

div[aria-describedby="change-password-modal"] #change-password-modal p.bienvenida {
  font-weight: 700;
}


