<div>
  <p>
    Haz aceptado:&nbsp;<a href="https://koalaotro.icreativadigital.com/politicas" target="_blank" class="pr-3">Política
      de privacidad</a>&nbsp;&nbsp;
    <a href="https://koalaotro.icreativadigital.com/terminos" target="_blank">Términos y condiciones</a>
  </p>
</div>