{#
/**
 * Template for Clases Profesores Iframe.
 *
 * Available variables:
 * - url: The URL to embed in the iframe.
 */
#}
<div class="clases-del-profesor">

  <iframe src="{{ url }}" width="100%" height="600" frameborder="0"></iframe>

  <div class="formulario">
    <button class="btn btn-primary" id="asignar-estrella" data-id-clase="{{ idClase }}">Asignar estrella</button>
    {# Agregar 3 botones, 1 Enviar estrellas, 2 activar clase, 3 finalizar clase #}
    <button class="btn btn-primary" id="activarClase">Activar Clase</button>
    <button class="btn btn-primary" id="finalizarClase">Finalizar Clase</button>
  </div>

  <div id="selector-para-mensajes"></div>
</div>